
        <div class="tabs preferences">
            <nav class="tabs__nav">
                <a href="#size" class="tab__link tab__link--active js-tab-link">Size</a>
                <a href="#about" class="tab__link js-tab-link">About You</a>
                <a href="#style" class="tab__link js-tab-link">Style</a>
            </nav>
            <div class="tabs__conts">
                <div class="tab__cont js-tab-cont" id="size">
                    @@include('src/modules/preferences/size.html')
                </div>
                <div class="tab__cont js-tab-cont" id="about">
                    @@include('src/modules/preferences/about.html')
                </div>
                <div class="tab__cont js-tab-cont" id="style">
                    @@include('src/modules/preferences/style.html')
                </div>
            </div>
        </div>