
    <form class="questions" data-next-step="questions_about.html">
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">What's your gender?</h2>
                <div class="question__radios question__radios--nowrap">
                    <div class="radio-box">
                        <input type="radio" name="gender" id="genderMale" value="male" required>
                        <label for="genderMale">Male</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="gender" id="genderFemale" value="female" >
                        <label for="genderFemale">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">What's your styling preference?</h2>
                <div class="question__radios question__radios--nowrap">
                    <div class="radio-box">
                        <input type="radio" name="preference" id="preferenceMale" value="male" required>
                        <label for="preferenceMale">Male</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="preference" id="preferenceFemale" value="female" >
                        <label for="preferenceFemale">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">So now what's your shirt size?
                    <a href="#shirtPop" class="info js-popup">
                        <img src="./media/img/misc/info.png" alt="">
                    </a>
                </h2>
                <div class="question__radios question__radios--nowrap question__radios--nowrap--wide">
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeXS" value="xs" required >
                        <label for="shirtSizeXS">XS</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeS" value="s">
                        <label for="shirtSizeS">S</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeM" value="m">
                        <label for="shirtSizeM">M</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeL" value="l">
                        <label for="shirtSizeL">L</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeXL" value="xl">
                        <label for="shirtSizeXL">XL</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeXXL" value="xxl">
                        <label for="shirtSizeXXL">XXL</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shirtSize" id="shirtSizeXXXL" value="xxxl">
                        <label for="shirtSizeXXXL">XXXL</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">How about your pant size?
                    <a href="#pantPop" class="info js-popup">
                        <img src="./media/img/misc/info.png" alt="">
                    </a>
                </h2>
                <div class="question__radios ">
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize00" value="00" required >
                        <label for="pantSize00">00</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize0" value="0">
                        <label for="pantSize0">0</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize2" value="2">
                        <label for="pantSize2">2</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize4" value="4">
                        <label for="pantSize4">4</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize6" value="6">
                        <label for="pantSize6">6</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize8" value="8">
                        <label for="pantSize8">8</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize10" value="10">
                        <label for="pantSize10">10</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize12" value="12">
                        <label for="pantSize12">12</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize14" value="14">
                        <label for="pantSize14">14</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize16" value="16">
                        <label for="pantSize16">16</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="pantSize" id="pantSize18" value="18">
                        <label for="pantSize18">18</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">What's your dress size?
                    <a href="#dressPop" class="info js-popup">
                        <img src="./media/img/misc/info.png" alt="">
                    </a>
                </h2>
                <div class="question__radios ">
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize00" value="00" required >
                        <label for="dressSize00">00</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize0" value="0">
                        <label for="dressSize0">0</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize2" value="2">
                        <label for="dressSize2">2</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize4" value="4">
                        <label for="dressSize4">4</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize6" value="6">
                        <label for="dressSize6">6</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize8" value="8">
                        <label for="dressSize8">8</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize10" value="10">
                        <label for="dressSize10">10</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize12" value="12">
                        <label for="dressSize12">12</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize14" value="14">
                        <label for="dressSize14">14</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize16" value="16">
                        <label for="dressSize16">16</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="dressSize" id="dressSize18" value="ma18le">
                        <label for="dressSize18">18</label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">And your bra band size?</h2>
                <div class="question__radios question__radios--nowrap  question__radios--nowrap--wide">
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize32" value="32" required >
                        <label for="braBandSize32">32</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize34" value="34">
                        <label for="braBandSize34">34</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize36" value="36">
                        <label for="braBandSize36">36</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize38" value="38">
                        <label for="braBandSize38">38</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize40" value="40">
                        <label for="braBandSize40">40</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braBandSize" id="braBandSize42" value="42">
                        <label for="braBandSize42">42</label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">Your bra cup size?</h2>
                <div class="question__radios ">
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeAA" value="aa" required >
                        <label for="braCupSizeAA">AA</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeA" value="a">
                        <label for="braCupSizeA">A</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeB" value="b">
                        <label for="braCupSizeB">B</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeC" value="c">
                        <label for="braCupSizeC">C</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeD" value="d">
                        <label for="braCupSizeD">D</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeDD" value="dd">
                        <label for="braCupSizeDD">DD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeDDD" value="ddd">
                        <label for="braCupSizeDDD">DDD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeF" value="f">
                        <label for="braCupSizeF">F</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeG" value="g">
                        <label for="braCupSizeG">G</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="braCupSize" id="braCupSizeH" value="h">
                        <label for="braCupSizeH">H</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">What's your shoe size?
                    <sup>*</sup>
                </h2>
                <div class="question__radios ">
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize3_5" required >
                        <label for="shoeSize3_5">3.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize3_5W">
                        <label for="shoeSize3_5W">3.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize4">
                        <label for="shoeSize4">4</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize4W">
                        <label for="shoeSize4W">4W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize4_5">
                        <label for="shoeSize4_5">4.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize4_5W">
                        <label for="shoeSize4_5W">4.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize5">
                        <label for="shoeSize5">5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize5_5">
                        <label for="shoeSize5_5">5.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize5_5W">
                        <label for="shoeSize5_5W">5.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize6">
                        <label for="shoeSize6">6</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize6W">
                        <label for="shoeSize6W">6W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize6_5">
                        <label for="shoeSize6_5">6.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize6_5W">
                        <label for="shoeSize6_5W">6.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize7">
                        <label for="shoeSize7">7</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize7_5">
                        <label for="shoeSize7_5">7.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize7_5W">
                        <label for="shoeSize7_5W">7.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize8">
                        <label for="shoeSize8">8</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize8W">
                        <label for="shoeSize8W">8W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize8_5">
                        <label for="shoeSize8_5">8.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize8_5W">
                        <label for="shoeSize8_5W">8.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize9">
                        <label for="shoeSize9">9</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize9_5">
                        <label for="shoeSize9_5">9.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize9_5W">
                        <label for="shoeSize9_5W">9.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize10">
                        <label for="shoeSize10">10</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize10W">
                        <label for="shoeSize10W">10W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize10_5">
                        <label for="shoeSize10_5">10.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize10_5W">
                        <label for="shoeSize10_5W">10.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize11">
                        <label for="shoeSize11">11</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize11_5">
                        <label for="shoeSize11_5">11.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize11_5W">
                        <label for="shoeSize11_5W">11.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize12">
                        <label for="shoeSize12">12</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize12W">
                        <label for="shoeSize12W">12W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize12_5">
                        <label for="shoeSize12_5">12.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize12_5W">
                        <label for="shoeSize12_5W">12.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize13">
                        <label for="shoeSize13">13</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize13_5">
                        <label for="shoeSize13_5">13.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize13_5W">
                        <label for="shoeSize13_5W">13.5W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize14">
                        <label for="shoeSize14">14</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize14W">
                        <label for="shoeSize14W">14W</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize14_5">
                        <label for="shoeSize14_5">14.5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="shoeSize" id="shoeSize14_5W">
                        <label for="shoeSize14_5W">14.5W</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">Can you please tell us about your height (in feet and inches)?</h2>
                <div class="question__radios ">
                    <div class="radio-box">
                        <input type="radio" name="height" id="height0" required >
                        <label for="height0">0</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height1">
                        <label for="height1">1</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height2">
                        <label for="height2">2</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height3">
                        <label for="height3">3</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height4">
                        <label for="height4">4</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height5">
                        <label for="height5">5</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height6">
                        <label for="height6">6</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height7">
                        <label for="height7">7</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height8">
                        <label for="height8">8</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height9">
                        <label for="height9">9</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height10">
                        <label for="height10">10</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="height" id="height11">
                        <label for="height11">11</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="question">
            <div class="container">
                <h2 class="question__heading center">Can you please tell us about your weight (in pounds/lbs)?</h2>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" placeholder="Your answer" name="weight" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="questions__action">
            <button type="submit" class="btn--theme" onclick="validate(this)">Save</button>
            <button type="submit" class="btn--theme btn--theme--inverse">Cancel</button>
        </div>
    </form>
    </div>
    
    @@include('src/modules/questions/shirt-popup.html') @@include('src/modules/questions/pant-popup.html') @@include('src/modules/questions/dress-popup.html')
    @@include('src/modules/questions/info-popup.html')