<div class="popup" id="historyPop" data-close="popup">

        <h2 class="popup__heading popup__heading--no-line">Order Name</h2>
        <div class="popup__content history__items">

                <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look1/bag.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look1/shoe.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look1/jacket.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look1/pants.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look1/blouse.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look2/shoes.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look2/skirt.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
                    <div class="item">
                        <a href="#" class=" item__image">
                            <img src="./media/img/looks/look2/bracelet.png" alt="">
                        </a>
                        <a href="#" class=" item__title">Simple  Product Name</a>
                        <div class="item__price">$68.0</div>
                    </div>
        </div>
    </div>