<div class="container">
    <h1 class="page-title center">Order History</h1>
    <div class="table-wrapper history">
        <table class="history-table">
            <tr>
                <th>Product Name</th>
                <th>Order #</th>
                <th>Date</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Shipping</th>
                <th>Order Total</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
            <tr>
                <td>Medium-Length Name</td>
                <td>123456789</td>
                <td>Nov 20.2018</td>
                <td>Completed</td>
                <td>Paid</td>
                <td>Dec 02.2018</td>
                <td>$ 2964.60</td>
                <td><a href="#historyPop" class="js-popup detail-link">View</a></td>
            </tr>
        </table>
    </div>
    <div class="pager">
        <a href="#" class="pager__link pager__link--prev">&#8592;&nbsp;Back</a>
        <a href="#" class="pager__link active">1</a>
        <a href="#" class="pager__link">2</a>
        <a href="#" class="pager__link">...</a>
        <a href="#" class="pager__link">16</a>
        <a href="#" class="pager__link">18</a>
        <a href="#" class="pager__link pager__link--prev">Next&nbsp;&#8594;</a>
    </div>
</div>
@@include('src/modules/history/history-popup.html')