.info-block {
    background:#fff;
    padding: 35px 90px;
    @include b(mobile){
        padding: 25px 15px;
    }
    &__heading {
        text-align:center;
        font-size: 24px;
        padding:0 0 24px;
        margin: 0 0 20px;
        position: relative; 
        @include b(desktop){
            font-size:22px;   
            padding:0 0 15px;
            margin: 0 0 15px; 
        }
        &.l{
            font-size:50px;
            @include b(desktop){
                font-size:35px;   
            }
        }
        &:before {
            content:"";
            position:absolute;
            width:90px;
            display:block;
            height:1px;
            background: #000;
            left:50%;
            bottom:1px;
            transform:translateX(-50%);
        }
        &.no-line{
            &:before{
                display:none;
            }
        }
    }
    &__content{        
        font-size:24px;    
        @include b(desktop){
            font-size:18px;    
        }
    }
    &__action{
        margin: 30px 0 0;
    }
}

.info-list {
    font-family: $sansFont;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    @include b(desktop){
      font-size: 15px;
  }
}