<div class="popup" id="dressPop" data-close="popup">

    <h2 class="popup__heading popup__heading--no-line">Dress Size</h2>
    <div class="popup__content table-wrapper">
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>XX-Small</th>
                <th>X-Small</th>
                <th>Small</th>
                <th>Medium</th>
                <th>Large</th>
                <th>X-Large</th>
                <th>XX-Large</th>
            </tr>
            <tr>
                <th>Size</th>

                <td>0</td>
                <td>2-4</td>
                <td>6-8</td>
                <td>10-12</td>
                <td>14-16</td>
                <td>18</td>
                <td>20</td>
            </tr>
            <tr>
                <th>Bust (inches)</th>

                <td>26-32</td>
                <td>32-34</td>
                <td>34-35</td>
                <td>36-37 1/2</td>
                <td>39-40 1/2</td>
                <td>42</td>
                <td>44</td>
            </tr>
            <tr>
                <th>Waist (inches)</th>

                <td>20-22</td>
                <td>22-25 1/2</td>
                <td>26 1/2-27 1/2</td>
                <td>28 1/2-30</td>
                <td>31 1/2-33</td>
                <td>34 1/2</td>
                <td>36 1/2</td>
            </tr>
            <tr>
                <th>Hip (inches)</th>

                <td>30-33</td>
                <td>33-36 1/2</td>
                <td>37 1/2-38 1/2</td>
                <td>39 1/2-41</td>
                <td>42 1/2-44</td>
                <td>45 1/2</td>
                <td>47 1/2</td>
            </tr>
        </table>
    </div>
</div>