<div class="popup gutter" id="infoPop">
    <h2 class="popup__heading">Styling Information</h2>
    <div class="popup__content center">
        <p>We are only serving women in the US</p>
    </div>
    <div class="popup__action">
        <button class="btn--theme" onclick="goHome();">Ok</button>
    </div>
</div>