<div class="container">
    @@include('src/modules/steps/steps.html', { "steps":[ { "class":"complete", "name":"Size" }, { "class":"complete", "name":"About You" }, { "class":"active", "name":"Preference" } ] })
</div>
<form class="questions" data-next-step="outfit_payment.html">

    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Can you please tell us which of these styles you like? *</h2>
            <div class="question__checks question__checks--photos required">
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style1" >
                    <label for="style1">
                        <img src="./media/img/like/style1.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style2" >
                    <label for="style2">
                        <img src="./media/img/like/style2.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style3" >
                    <label for="style3">
                        <img src="./media/img/like/style3.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style4" >
                    <label for="style4">
                        <img src="./media/img/like/style4.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style5" >
                    <label for="style5">
                        <img src="./media/img/like/style5.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo">
                    <input type="checkbox" name="like" id="style6" >
                    <label for="style6">
                        <img src="./media/img/like/style6.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Now can you tell us which of these you DON’T like? *</h2>
            <div class="question__checks question__checks--photos question__checks--photos--s required">
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style1" >
                    <label for="n_style1">
                        <img src="./media/img/nlike/style1.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style2" >
                    <label for="n_style2">
                        <img src="./media/img/nlike/style2.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style3" >
                    <label for="n_style3">
                        <img src="./media/img/nlike/style3.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style4" >
                    <label for="n_style4">
                        <img src="./media/img/nlike/style4.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style5" >
                    <label for="n_style5">
                        <img src="./media/img/nlike/style5.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style6" >
                    <label for="n_style6">
                        <img src="./media/img/nlike/style6.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style7" >
                    <label for="n_style7">
                        <img src="./media/img/nlike/style7.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="notLike" id="n_style8" >
                    <label for="n_style8">
                        <img src="./media/img/nlike/style8.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">
                Can you tell us what would your day-to-day work outfit looks like?<br>You know it by now, you can select multiple options :)
                *</h2>
            <div class="question__checks question__checks--wide question__checks--photos question__checks--photos--s required">
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="dayLike" id="day_style1" >
                    <label for="day_style1">
                        <img src="./media/img/day/style1.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="dayLike" id="day_style2" >
                    <label for="day_style2">
                        <img src="./media/img/day/style2.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="dayLike" id="day_style3" >
                    <label for="day_style3">
                        <img src="./media/img/day/style3.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="dayLike" id="day_style4" >
                    <label for="day_style4">
                        <img src="./media/img/day/style4.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Can you please tell us what closely represents your skin tone?</h2>
            <div class="question__colors question__colors--6">
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#5d321d" required>
                    <span class="color-label">Brown</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#28b94a">
                    <span class="color-label">Green</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="white" style="box-shadow:0 0 0 1px gray">
                    <span class="color-label">White</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#d72323" >
                    <span class="color-label">Red</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#ababab" >
                    <span class="color-label">Grey</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#f369c1" >
                    <span class="color-label">Pink</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="beige" >
                    <span class="color-label">Beige</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#7e0797" >
                    <span class="color-label">Purple</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#2eb4da" >
                    <span class="color-label">Blue</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#e8dd26" >
                    <span class="color-label">Yellow</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="#ff8400" >
                    <span class="color-label">Orange</span>
                </label>
                <label class="color-box">
                    <input type="checkbox" name="style_color" class="color" value="black" >
                    <span class="color-label">Black</span>
                </label>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Our Stylists would want to know your goal for Fashom?</h2>
            <div class="question__checks question__checks--photos question__checks--photos--s required">
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style1" >
                    <label for="a_style1">
                        <img src="./media/img/accessories/style1.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style2" >
                    <label for="a_style2">
                        <img src="./media/img/accessories/style2.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style3" >
                    <label for="a_style3">
                        <img src="./media/img/accessories/style3.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style4" >
                    <label for="a_style4">
                        <img src="./media/img/accessories/style4.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style5" >
                    <label for="a_style5">
                        <img src="./media/img/accessories/style5.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style6" >
                    <label for="a_style6">
                        <img src="./media/img/accessories/style6.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style7" >
                    <label for="a_style7">
                        <img src="./media/img/accessories/style7.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style8" >
                    <label for="a_style8">
                        <img src="./media/img/accessories/style8.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style9" >
                    <label for="a_style9">
                        <img src="./media/img/accessories/style9.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style10" >
                    <label for="a_style10">
                        <img src="./media/img/accessories/style10.png" alt="">
                    </label>
                </div>
                <div class="check-box check-box--photo check-box--photo--s">
                    <input type="checkbox" name="accessories" id="a_style11" >
                    <label for="a_style11">
                        <img src="./media/img/accessories/style11.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Our Stylists would want to know your goal for Fashom? </h2>
            <div class="question__radios question__radios--2 ">
                    <div class="radio-box">
                        <input type="radio" name="goal" id="goal1" required>
                        <label for="goal1">Don’t have the time to shop and search online</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="goal" id="goal2" >
                        <label for="goal2">I would like to try something new I haven’t tried before</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="goal" id="goal3" >
                        <label for="goal3">I need help to find what looks good on me</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="goal" id="goal4">
                        <label for="goal4">Just playing with the new Fashom feature</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">How much would you ideally spend on items in each of the following categories? </h2><h3 class="question__heading">Accessories</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories1" required>
                        <label for="spendAccessories1">Cheaper the better</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories2">
                        <label for="spendAccessories2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories3">
                        <label for="spendAccessories3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories4">
                        <label for="spendAccessories4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories5">
                        <label for="spendAccessories5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories6">
                        <label for="spendAccessories6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendAccessories" id="spendAccessories7">
                        <label for="spendAccessories7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
                <h3 class="question__heading">Bottoms</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom1" required>
                        <label for="spendBottom1">Cheaper the better</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom2">
                        <label for="spendBottom2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom3">
                        <label for="spendBottom3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom4">
                        <label for="spendBottom4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom5">
                        <label for="spendBottom5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom6">
                        <label for="spendBottom6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendBottoms" id="spendBottom7">
                        <label for="spendBottom7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
                <h3 class="question__heading">Tops</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops1" required>
                        <label for="spendtops1">Cheaper the better</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops2">
                        <label for="spendtops2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops3">
                        <label for="spendtops3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops4">
                        <label for="spendtops4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops5">
                        <label for="spendtops5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops6">
                        <label for="spendtops6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendtops" id="spendtops7">
                        <label for="spendtops7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
                <h3 class="question__heading">Dresses</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses1" required>
                        <label for="spenddresses1">Cheaper the better</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses2">
                        <label for="spenddresses2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses3">
                        <label for="spenddresses3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses4">
                        <label for="spenddresses4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses5">
                        <label for="spenddresses5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses6">
                        <label for="spenddresses6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spenddresses" id="spenddresses7">
                        <label for="spenddresses7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
                <h3 class="question__heading">Shoes</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes1" required>
                        <label for="spendshoes1">Cheaper the better</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes2">
                        <label for="spendshoes2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes3">
                        <label for="spendshoes3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes4">
                        <label for="spendshoes4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes5">
                        <label for="spendshoes5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes6">
                        <label for="spendshoes6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendshoes" id="spendshoes7">
                        <label for="spendshoes7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
                <h3 class="question__heading">Purses/Handbags</h3>
            <div class="question__radios question__radios--center question__radios--narrow  question__radios--3 ">
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses1" required>
                        <label for="spendpurses1">Cheaper the better</label>
                    </div>
                    <div class="radio-box ">
                        <input type="radio" name="spendpurses" id="spendpurses2">
                        <label for="spendpurses2">20-40 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses3">
                        <label for="spendpurses3">40-60 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses4">
                        <label for="spendpurses4">60-80 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses5">
                        <label for="spendpurses5">80-100 USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses6">
                        <label for="spendpurses6">100+ USD</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="spendpurses" id="spendpurses7">
                        <label for="spendpurses7">Doesn't matter</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">How do you typically like your work clothing to fit?</h2>
            <div class="question__radios question__radios--center question__radios--slim  question__radios--2 ">
                    <div class="radio-box ">
                        <input type="radio" name="fit" id="fit1" required>
                        <label for="fit1">Hugging/tight</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="fit" id="fit2" >
                        <label for="fit2">Tailored(not tight)</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="fit" id="fit3" >
                        <label for="fit3">Relaxed and flowy</label>
                    </div>
                    <div class="radio-box ">
                        <input type="radio" name="fit" id="fit4" >
                        <label for="fit4">Let stylist decide</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Do you prefer wearing jeans to work? *</h2>
            <div class="question__radios question__radios--center  question__radios--nowrap">
                    <div class="radio-box ">
                        <input type="radio" name="jeans" id="yes" required>
                        <label for="yes">yes</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="jeans" id="no" >
                        <label for="no">no</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Are there any prints you would like to avoid? *</h2>
            <div class="question__checks question__checks--center question__checks--narrow  question__checks--3 required">
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints1">
                        <label for="prints1">Animal print</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints2">
                        <label for="prints2">Polka dots</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints3">
                        <label for="prints3">Paisley</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints4">
                        <label for="prints4">Plaid</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints5">
                        <label for="prints5">Floral</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="prints" id="prints6">
                        <label for="prints6">Stripes</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">We are all BEAUTIFUL just as we are, but is there any body area you would like to conceal? *</h2>
            <div class="question__checks  question__checks--narrow  question__checks--3 required">
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas1">
                        <label for="bodyAreas1">None</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas2">
                        <label for="bodyAreas2">Arms/Shoulders</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas3">
                        <label for="bodyAreas3">Cleavage</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas4">
                        <label for="bodyAreas4">Chest</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas5">
                        <label for="bodyAreas5">Legs</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas6">
                        <label for="bodyAreas6">Midsection</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas7">
                        <label for="bodyAreas7">Back</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="bodyAreas" id="bodyAreas8">
                        <label for="bodyAreas8">Rear</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Now this is important is there anything you would want to flaunt? *</h2>
            <div class="question__checks  question__checks--narrow  question__checks--3 required">
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt1">
                        <label for="flaunt1">None</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt2">
                        <label for="flaunt2">Arms/Shoulders</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt3">
                        <label for="flaunt3">Cleavage</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt4">
                        <label for="flaunt4">Chest</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt5">
                        <label for="flaunt5">Legs</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt6">
                        <label for="flaunt6">Midsection</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt7">
                        <label for="flaunt7">Back</label>
                    </div>
                    <div class="check-box ">
                        <input type="checkbox" name="flaunt" id="flaunt8">
                        <label for="flaunt8">Rear</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="questions__action">
        <button type="submit" class="btn--theme" onclick="validate(this)">Get Styled</button>
    </div>
</form>