<div class="container">
    @@include('src/modules/steps/steps.html', { "steps":[ { "class":"active", "name":"Size" }, { "class":"", "name":"About You"
    }, { "class":"", "name":"Preference" } ] })</div>
<form class="questions" data-next-step="questions_about.html">
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">What's your gender?</h2>
            <div class="question__radios question__radios--nowrap">
                <div class="radio-box">
                    <input type="radio" name="gender" id="genderMale" value="male" required>
                    <label for="genderMale">Male</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="gender" id="genderFemale" value="female">
                    <label for="genderFemale">Female</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">What's your styling preference?</h2>
            <div class="question__radios question__radios--nowrap">
                <div class="radio-box">
                    <input type="radio" name="preference" id="preferenceMale" value="male" required>
                    <label for="preferenceMale">Male</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="preference" id="preferenceFemale" value="female">
                    <label for="preferenceFemale">Female</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">So now what's your shirt size?
                <a href="#shirtPop" class="info js-popup">
                    <img src="./media/img/misc/info.png" alt="">
                </a>
            </h2>
            <div class="question__radios question__radios--nowrap question__radios--nowrap--wide">
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeXS" value="xs" required>
                    <label for="shirtSizeXS">XS</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeS" value="s">
                    <label for="shirtSizeS">S</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeM" value="m">
                    <label for="shirtSizeM">M</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeL" value="l">
                    <label for="shirtSizeL">L</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeXL" value="xl">
                    <label for="shirtSizeXL">XL</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeXXL" value="xxl">
                    <label for="shirtSizeXXL">XXL</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shirtSize" id="shirtSizeXXXL" value="xxxl">
                    <label for="shirtSizeXXXL">XXXL</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">How about your pant size?
                <a href="#pantPop" class="info js-popup">
                    <img src="./media/img/misc/info.png" alt="">
                </a>
            </h2>
            <div class="question__radios ">
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize00" value="00" required>
                    <label for="pantSize00">00</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize0" value="0">
                    <label for="pantSize0">0</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize2" value="2">
                    <label for="pantSize2">2</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize4" value="4">
                    <label for="pantSize4">4</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize6" value="6">
                    <label for="pantSize6">6</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize8" value="8">
                    <label for="pantSize8">8</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize10" value="10">
                    <label for="pantSize10">10</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize12" value="12">
                    <label for="pantSize12">12</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize14" value="14">
                    <label for="pantSize14">14</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize16" value="16">
                    <label for="pantSize16">16</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="pantSize" id="pantSize18" value="18">
                    <label for="pantSize18">18</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">What's your dress size?
                <a href="#dressPop" class="info js-popup">
                    <img src="./media/img/misc/info.png" alt="">
                </a>
            </h2>
            <div class="question__radios ">
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize00" value="00" required>
                    <label for="dressSize00">00</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize0" value="0">
                    <label for="dressSize0">0</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize2" value="2">
                    <label for="dressSize2">2</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize4" value="4">
                    <label for="dressSize4">4</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize6" value="6">
                    <label for="dressSize6">6</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize8" value="8">
                    <label for="dressSize8">8</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize10" value="10">
                    <label for="dressSize10">10</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize12" value="12">
                    <label for="dressSize12">12</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize14" value="14">
                    <label for="dressSize14">14</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize16" value="16">
                    <label for="dressSize16">16</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="dressSize" id="dressSize18" value="ma18le">
                    <label for="dressSize18">18</label>
                </div>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="container">
            <h2 class="question__heading center">And your bra band size?</h2>
            <div class="question__radios question__radios--nowrap  question__radios--nowrap--wide">
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize32" value="32" required>
                    <label for="braBandSize32">32</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize34" value="34">
                    <label for="braBandSize34">34</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize36" value="36">
                    <label for="braBandSize36">36</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize38" value="38">
                    <label for="braBandSize38">38</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize40" value="40">
                    <label for="braBandSize40">40</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braBandSize" id="braBandSize42" value="42">
                    <label for="braBandSize42">42</label>
                </div>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Your bra cup size?</h2>
            <div class="question__radios ">
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeAA" value="aa" required>
                    <label for="braCupSizeAA">AA</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeA" value="a">
                    <label for="braCupSizeA">A</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeB" value="b">
                    <label for="braCupSizeB">B</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeC" value="c">
                    <label for="braCupSizeC">C</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeD" value="d">
                    <label for="braCupSizeD">D</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeDD" value="dd">
                    <label for="braCupSizeDD">DD</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeDDD" value="ddd">
                    <label for="braCupSizeDDD">DDD</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeF" value="f">
                    <label for="braCupSizeF">F</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeG" value="g">
                    <label for="braCupSizeG">G</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="braCupSize" id="braCupSizeH" value="h">
                    <label for="braCupSizeH">H</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">What's your shoe size?
                <sup>*</sup>
            </h2>
            <div class="question__radios ">
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize3_5" required>
                    <label for="shoeSize3_5">3.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize3_5W">
                    <label for="shoeSize3_5W">3.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize4">
                    <label for="shoeSize4">4</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize4W">
                    <label for="shoeSize4W">4W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize4_5">
                    <label for="shoeSize4_5">4.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize4_5W">
                    <label for="shoeSize4_5W">4.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize5">
                    <label for="shoeSize5">5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize5_5">
                    <label for="shoeSize5_5">5.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize5_5W">
                    <label for="shoeSize5_5W">5.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize6">
                    <label for="shoeSize6">6</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize6W">
                    <label for="shoeSize6W">6W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize6_5">
                    <label for="shoeSize6_5">6.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize6_5W">
                    <label for="shoeSize6_5W">6.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize7">
                    <label for="shoeSize7">7</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize7_5">
                    <label for="shoeSize7_5">7.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize7_5W">
                    <label for="shoeSize7_5W">7.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize8">
                    <label for="shoeSize8">8</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize8W">
                    <label for="shoeSize8W">8W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize8_5">
                    <label for="shoeSize8_5">8.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize8_5W">
                    <label for="shoeSize8_5W">8.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize9">
                    <label for="shoeSize9">9</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize9_5">
                    <label for="shoeSize9_5">9.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize9_5W">
                    <label for="shoeSize9_5W">9.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize10">
                    <label for="shoeSize10">10</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize10W">
                    <label for="shoeSize10W">10W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize10_5">
                    <label for="shoeSize10_5">10.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize10_5W">
                    <label for="shoeSize10_5W">10.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize11">
                    <label for="shoeSize11">11</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize11_5">
                    <label for="shoeSize11_5">11.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize11_5W">
                    <label for="shoeSize11_5W">11.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize12">
                    <label for="shoeSize12">12</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize12W">
                    <label for="shoeSize12W">12W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize12_5">
                    <label for="shoeSize12_5">12.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize12_5W">
                    <label for="shoeSize12_5W">12.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize13">
                    <label for="shoeSize13">13</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize13_5">
                    <label for="shoeSize13_5">13.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize13_5W">
                    <label for="shoeSize13_5W">13.5W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize14">
                    <label for="shoeSize14">14</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize14W">
                    <label for="shoeSize14W">14W</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize14_5">
                    <label for="shoeSize14_5">14.5</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="shoeSize" id="shoeSize14_5W">
                    <label for="shoeSize14_5W">14.5W</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Can you please tell us about your height (in feet and inches)?</h2>
            <div class="input-group select-group">
                <div class="input-box select-box">
                    <select data-placeholder="1" name="heightFt" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <label for="heightFt">Ft</label>
                </div>
                <div class="input-box select-box">
                    <select data-placeholder="1" name="heightIn" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    <label for="heightIn">In</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Can you please tell us about your weight (in pounds/lbs)?</h2>
            <div class="input-group">
                <div class="input-box">
                    <select data-placeholder="Your answer" name="weight" required>
                        <option value=""></option>
                        <option value="81">81</option>
                        <option value="82">82</option>
                        <option value="83">83</option>
                        <option value="84">84</option>
                        <option value="85">85</option>
                        <option value="86">86</option>
                        <option value="87">87</option>
                        <option value="88">88</option>
                        <option value="89">89</option>
                        <option value="90">90</option>
                        <option value="91">91</option>
                        <option value="92">92</option>
                        <option value="93">93</option>
                        <option value="94">94</option>
                        <option value="95">95</option>
                        <option value="96">96</option>
                        <option value="97">97</option>
                        <option value="98">98</option>
                        <option value="99">99</option>
                        <option value="100">100</option>
                        <option value="101">101</option>
                        <option value="102">102</option>
                        <option value="103">103</option>
                        <option value="104">104</option>
                        <option value="105">105</option>
                        <option value="106">106</option>
                        <option value="107">107</option>
                        <option value="108">108</option>
                        <option value="109">109</option>
                        <option value="110">110</option>
                        <option value="111">111</option>
                        <option value="112">112</option>
                        <option value="113">113</option>
                        <option value="114">114</option>
                        <option value="115">115</option>
                        <option value="116">116</option>
                        <option value="117">117</option>
                        <option value="118">118</option>
                        <option value="119">119</option>
                        <option value="120">120</option>
                        <option value="121">121</option>
                        <option value="122">122</option>
                        <option value="123">123</option>
                        <option value="124">124</option>
                        <option value="125">125</option>
                        <option value="126">126</option>
                        <option value="127">127</option>
                        <option value="128">128</option>
                        <option value="129">129</option>
                        <option value="130">130</option>
                        <option value="131">131</option>
                        <option value="132">132</option>
                        <option value="133">133</option>
                        <option value="134">134</option>
                        <option value="135">135</option>
                        <option value="136">136</option>
                        <option value="137">137</option>
                        <option value="138">138</option>
                        <option value="139">139</option>
                        <option value="140">140</option>
                        <option value="141">141</option>
                        <option value="142">142</option>
                        <option value="143">143</option>
                        <option value="144">144</option>
                        <option value="145">145</option>
                        <option value="146">146</option>
                        <option value="147">147</option>
                        <option value="148">148</option>
                        <option value="149">149</option>
                        <option value="150">150</option>
                        <option value="151">151</option>
                        <option value="152">152</option>
                        <option value="153">153</option>
                        <option value="154">154</option>
                        <option value="155">155</option>
                        <option value="156">156</option>
                        <option value="157">157</option>
                        <option value="158">158</option>
                        <option value="159">159</option>
                        <option value="160">160</option>
                        <option value="161">161</option>
                        <option value="162">162</option>
                        <option value="163">163</option>
                        <option value="164">164</option>
                        <option value="165">165</option>
                        <option value="166">166</option>
                        <option value="167">167</option>
                        <option value="168">168</option>
                        <option value="169">169</option>
                        <option value="170">170</option>
                        <option value="171">171</option>
                        <option value="172">172</option>
                        <option value="173">173</option>
                        <option value="174">174</option>
                        <option value="175">175</option>
                        <option value="176">176</option>
                        <option value="177">177</option>
                        <option value="178">178</option>
                        <option value="179">179</option>
                        <option value="180">180</option>
                        <option value="181">181</option>
                        <option value="182">182</option>
                        <option value="183">183</option>
                        <option value="184">184</option>
                        <option value="185">185</option>
                        <option value="186">186</option>
                        <option value="187">187</option>
                        <option value="188">188</option>
                        <option value="189">189</option>
                        <option value="190">190</option>
                        <option value="191">191</option>
                        <option value="192">192</option>
                        <option value="193">193</option>
                        <option value="194">194</option>
                        <option value="195">195</option>
                        <option value="196">196</option>
                        <option value="197">197</option>
                        <option value="198">198</option>
                        <option value="199">199</option>
                        <option value="200">200</option>
                        <option value="201">201</option>
                        <option value="202">202</option>
                        <option value="203">203</option>
                        <option value="204">204</option>
                        <option value="205">205</option>
                        <option value="206">206</option>
                        <option value="207">207</option>
                        <option value="208">208</option>
                        <option value="209">209</option>
                        <option value="210">210</option>
                        <option value="211">211</option>
                        <option value="212">212</option>
                        <option value="213">213</option>
                        <option value="214">214</option>
                        <option value="215">215</option>
                        <option value="216">216</option>
                        <option value="217">217</option>
                        <option value="218">218</option>
                        <option value="219">219</option>
                        <option value="220">220</option>
                        <option value="221">221</option>
                        <option value="222">222</option>
                        <option value="223">223</option>
                        <option value="224">224</option>
                        <option value="225">225</option>
                        <option value="226">226</option>
                        <option value="227">227</option>
                        <option value="228">228</option>
                        <option value="229">229</option>
                        <option value="230">230</option>
                        <option value="231">231</option>
                        <option value="232">232</option>
                        <option value="233">233</option>
                        <option value="234">234</option>
                        <option value="235">235</option>
                        <option value="236">236</option>
                        <option value="237">237</option>
                        <option value="238">238</option>
                        <option value="239">239</option>
                        <option value="240">240</option>
                        <option value="241">241</option>
                        <option value="242">242</option>
                        <option value="243">243</option>
                        <option value="244">244</option>
                        <option value="245">245</option>
                        <option value="246">246</option>
                        <option value="247">247</option>
                        <option value="248">248</option>
                        <option value="249">249</option>
                        <option value="250">250</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="questions__action">
        <button type="submit" class="btn--theme" onclick="validate(this)">Next Step</button>
    </div>
</form>
</div>

@@include('src/modules/questions/shirt-popup.html') @@include('src/modules/questions/pant-popup.html') @@include('src/modules/questions/dress-popup.html')
@@include('src/modules/questions/info-popup.html')