<div class="container">
    @@include('src/modules/steps/steps.html', { "steps":[ { "class":"complete", "name":"Size" }, { "class":"active", "name":"About You" }, { "class":"", "name":"Preference" } ] })
</div>
<form class="questions" data-next-step="questions_preference.html">
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Where do you live?</h2>
            <div class="input-group">
                <div class="input-box">
                    <input type="text" name="country" id="country" value="" placeholder="Country" required>
                </div>
                <div class="input-box">
                    <input type="text" name="city" id="city" value="" placeholder="City" required>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Our stylists don’t want to offer something that’s not age appropriate. What’s your age group?</h2>
            <div class="question__radios question__radios--nowrap question__radios--nowrap--wide">
                <div class="radio-box">
                    <input type="radio" name="age" id="age18" value="18" required>
                    <label for="age18">18-</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age18-23" value="18-23">
                    <label for="age18-23">18-23</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age24-29" value="24-29" checked>
                    <label for="age24-29">24-29</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age30-39" value="30-39">
                    <label for="age30-39">30-39</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age40-49" value="40-49">
                    <label for="age40-49">40-49</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age50-59" value="50-59">
                    <label for="age50-59">50-59</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="age" id="age60" value="60+">
                    <label for="age60">60+</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">We at Fashom celebrate body confidence in everyday people, so don’t take this the wrong way :)
                <br> What closely represents your body type?</h2>
            <div class="question__radios question__radios--images question__radios--nowrap">
                <div class="radio-box radio-box--image">
                    <input type="radio" name="figure" id="pear" required>
                    <label for="pear">
                        <img src="./media/img/misc/type1.png" alt="">
                    </label>
                </div>
                <div class="radio-box radio-box--image">
                    <input type="radio" name="figure" id="hourglass" required>
                    <label for="hourglass">
                        <img src="./media/img/misc/type2.png" alt="">
                    </label>
                </div>
                <div class="radio-box radio-box--image">
                    <input type="radio" name="figure" id="rectangle" required>
                    <label for="rectangle">
                        <img src="./media/img/misc/type3.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Are you interested in maternity clothing? *</h2>
            <div class="question__radios question__radios--nowrap">
                <div class="radio-box">
                    <input type="radio" name="maternity" id="yes" value="yes" required>
                    <label for="yes">Yes</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="maternity" id="no" value="no" checked>
                    <label for="no">No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Now we don’t want to give you something that’s work "inappropriate".
                <br> So can you tell us what do you do?</h2>
            <div class="question__radios question__radios--4">
                <div class="radio-box">
                    <input type="radio" name="occupation" id="biotech" value="biotech" required>
                    <label for="biotech">Biotech</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="consulting" value="Consulting">
                    <label for="consulting">Consulting</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="childCare" value="Child Care">
                    <label for="childCare">Child Care</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="education" value="Education">
                    <label for="education">Education</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Engineering" value="Engineering &amp; Architecture">
                    <label for="Engineering">Engineering &amp; Architecture</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Fashion" value="Fashion">
                    <label for="Fashion">Fashion</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Finance" value="Finance">
                    <label for="Finance">Finance</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Healthcare" value="Healthcare">
                    <label for="Healthcare">Healthcare</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Hospitality" value="Hospitality">
                    <label for="Hospitality">Hospitality</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Law" value="Law">
                    <label for="Law">Law</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Management" value="Management">
                    <label for="Management">Management</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Marketing" value="Marketing / Sales">
                    <label for="Marketing">Marketing / Sales</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Philanthropy" value="Philanthropy">
                    <label for="Philanthropy">Philanthropy</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Politics" value="Politics">
                    <label for="Politics">Politics</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Real_Estate" value="Real Estate">
                    <label for="Real_Estate">Real Estate</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Media" value="Media/Arts / Entertainment">
                    <label for="Media">Media/Arts / Entertainment</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Retail" value="Retail, Technology">
                    <label for="Retail">Retail, Technology</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="occupation" id="Other" value="Other">
                    <label for="Other">Other</label>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center" style="width:555px; max-width:100%; margin: 0 auto;">If you have any additional information you would like to share with the stylists, please add below.</h2>
            <div class="input-group">
                <div class="input-box">
                    <input type="text" name="addInfo" value="" placeholder="Your Text" >
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Can you please tell us what closely represents your skin tone?</h2>
            <div class="question__colors">
                <label class="color-box">
                    <input type="radio" name="skin" class="color" value="#5d321d" required>
                </label>
                <label class="color-box">
                    <input type="radio" name="skin" class="color" value="#946149">
                </label>
                <label class="color-box">
                    <input type="radio" name="skin" class="color" value="#d0a28c">
                </label>
                <label class="color-box">
                    <input type="radio" name="skin" class="color" value="#e5c39e">
                </label>
                <label class="color-box">
                    <input type="radio" name="skin" class="color" value="#fff0e0">
                </label>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center"> Perfect, how about your hair color? *</h2>
            <div class="question__colors">
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#a690ce" required>
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#ddbebe">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#200d05">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#5b442b">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#491365">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#5d321d">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#8c401b">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#63554e">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#852525">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#e28f35">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#5d321d">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#946149">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#929292">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#6b576f">
                </label>
                <label class="color-box">
                    <input type="radio" name="hair" class="color" value="#7f5427">
                </label>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="container">
            <h2 class="question__heading center">Would you mind uploading a picture of yourself? This will not be shared or posted ANYWHERE.</h2>
            <div class="question__upload">
                <div id="uploaded" class="upload__photos">
                    <img src="./media/img/upload/1.png" alt="">
                    <img src="./media/img/upload/2.png" alt="">
                </div>
                <input type="file" id="photos" multiple accept="image/*">
                <label for="photos">upload</label>
                <div class="hint">Select one or more files from your computer, or drag and drop them here</div>
            </div>
        </div>
    </div>
    <div class="questions__action"> 
        <a href="questions_size.html" class="btn--theme">Previous Step</a>
        <button type="submit" class="btn--theme" onclick="validate(this)">Next Step</button>
    </div>
</form>