<div class="container">
    <h1 class="page-title center">Hello, Name Surname!</h1>
    
</div>

@@include('src/modules/board/board.html', {
    "ins":"src/modules/questions/start_info.html",
    "bg":"./media/img/quest/quest_start_info_bg.jpg"
})