
    <div class="popup" id="shirtPop" data-close="popup">

            <h2 class="popup__heading popup__heading--no-line">Shirt Size</h2>
            <div class="popup__content table-wrapper">
                <table>
                    <tr>
                        <th>&nbsp;</th>
                        <th>XX-Small</th>
                        <th>X-Small</th>
                        <th>Small</th>
                        <th>Medium</th>
                        <th>Large</th>
                        <th>X-Large</th>
                        <th>XX-Large</th>
                        <th>XXX-Large</th>
                    </tr>
                    <tr>
                        <th>Size</th>
        
                        <td>0</td>
                        <td>0-2</td>
                        <td>4-6</td>
                        <td>8-10</td>
                        <td>12-14</td>
                        <td>16-18</td>
                        <td>18-20</td>
                        <td>22-24</td>
                    </tr>
                    <tr>
                        <th>Chest (inches)</th>
        
                        <td>26-28</td>
                        <td>28-30</td>
                        <td>30-33</td>
                        <td>33-35</td>
                        <td>36-38</td>
                        <td>39-40</td>
                        <td>41-44</td>
                        <td>45-50</td>
                    </tr>
                    <tr>
                        <th>Waist (inches)</th>
        
                        <td>20-22</td>
                        <td>23-25</td>
                        <td>24-26</td>
                        <td>26-27</td>
                        <td>28-29</td>
                        <td>30-32</td>
                        <td>33-36</td>
                        <td>37-40</td>
                    </tr>
                </table>
            </div>
        </div>