
<div class="info-block">
        <h2 class="info-block__heading">
                Welcome to Fashom, your new partner in style!<br>
                What`s next?
        </h2>
        <div class="info-block__content">
                <ul class="info-list native-bullets">
                        <li>Fill up your personal detais </li>
                        <li>Select your stylist</li>
                        <li>Ship want from your stylist`s curations </li>
                        <li>Try your pieces at home (free shipping/return)</li></ul>
        </div>
        <div class="info-block__action">
                <a href="./questions_size.html" class="btn--theme">Continue</a>
        </div>
</div>