@@include('src/modules/head/head.html',{"title":"FASHOM - Terms &amp; Conditions", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
    <div class="container">
        <h1 class="popup__heading">Terms and Conditions</h1>
        
        <div class="static__text"> <p>Thank you for visiting the Fashom website or accessing the Fashom mobile application.  Fashom's services, the website, and mobile application are owned and operated by Withom, a Florida LLC, doing business as "Fashom" (referred within this agreement as "Fashom"). "You" within this agreement shall mean any and all users accessing the Website or Mobile Application of Fashom. 
            By accessing the Fashom website or accessing the Fashom mobile, you agree to be bound to these Terms of Service and the Privacy Policy. 
            <b>Please note that these Terms of Service include a class action waiver and require binding arbitration on an individual basis to resolve disputes, rather than jury trials.  </b></p>
                <h3><b>creating and maintaining an account </b></h3>
                <p>To access most the functionality of the Fashom services, you'll need to register for an account through Fashom’s mobile application ("Account"). The application asks you a variety of questions for style matching and some information for identifying you. You agree to provide accurate and complete information. When creating account you must provide a contact information, such as a phone number and email. Please ensure the accuracy of this information keep it up to date if it changes. You are solely responsible for any and all use of your Account Information and all activities (including orders placed through the Services) that occur under or in connection with your Account. We reserve the right to take whatever action we deem necessary to preserve the security of the Services and your Account, including without limitation terminating your Account, changing your password, or requesting additional information to authorize transactions on your Account. You agree to be responsible for any act or omission of any users that access the Services under your Account. You may not use anyone else's Account at any time without the permission of the Account holder. Please notify us immediately if you become aware that your Account Information is being used without authorization. You agree not to register for more than one Account, register for an Account on behalf of an individual other than yourself without such individual's authorization, or register for an Account on behalf of any group or entity. You must be at least 18 years old to be a Client. If we later discover or suspect that a person under 18 years old has requested our service, we reserve the right to take steps to cancel that request.</p>
                
                <h3><b>styling service</b></h3>
                <p>At your request, Fashom will pair you with a stylist based on the information you provided regarding your style preferences. When you are paired with a stylist, the stylist will prepare an assortment of products that will be shipped to you upon your acceptance. You’ll be able to preview the assortment of products prior to a shipping. Only items you "accept" for shipment will be shipped. Your stylist request with Fashom is an offer to purchase the Products from Fashom. We may accept your offer by processing your Styling Fee payment and shipping you the Products. For any reason, we may decline to accept your request for styling. If we decline to accept your request for styling, we may attempt to notify you at the email address you provided in your account registration.</p>
                
                <h3><b>styling fee and payment</b></h3>
                <p>Once you request for "Styling", The Styling Fee will be charged to your credit card. You have the option of not getting any products shipped but that will not void your Styling Fee. You have two (2) days to select the products you want us to ship to you, else the styling request will be cancelled. You may pay for the Styling Fee and for any Products via credit card or other payment method then available on the Services. If you have a credit in your Account at the time of processing the Styling Fee or paying for Products, the credit will be applied before we charge your credit card or other payment method then available. By submitting your payment information to us, you authorize us to charge your credit card or other payment method then available in accordance with this policy, including for Products that are returned late or damaged. We will not be liable in the event your children or others acting with or without your permission use your credit card, PayPal account, or other means of payment to make orders on the Services; however, you may report any unauthorized use to us, and we will use reasonable measures within our control to help prevent future unauthorized use of your credit card or other payment method.</p>
                
                <h3><b>shipment/ returns/ exchanges</b></h3>
                <p>Items accepted for shipment will be sent to the address you have listed within your account profile settings. It is your responsibility to ensure the address accuracy. All Products will be deemed accepted by you upon shipment, and title to and risk of loss passes to you when we provide the Products to a common carrier.</p>
                <p>You will have three (3) postal days to try on the products and decide which ones you want to keep. If you choose to keep Products, the Styling Fee will be credited towards the purchase price of those Products. If you do not wish to keep certain products, though products must be packaged up in our box, with our return label securely placed on it and delivered to the postal carrier before the three days are over ("Return Date"). You will retain title to the products and risk of loss of the Products will remain with you until we receive the returned Products and we determine that the Products were returned unworn and in their original condition, at which point you will be deemed to have rejected the products and title will return to us. We will assume that you have chosen to keep any products in that you do not postmark back to us by the Return Date, and we will charge your Account for those products any time after the Return Date. Any exceptions permitting a return postmarked later than the Return Date must be requested in a timely manner and may be granted at the sole discretion of Fashom. Unfortunately, we cannot guarantee that you will be able to exchange or replace any item.</p>
                
                <h4><b>Image Posting</b></h4>
                <p>Fashom encourages women to celebrate their bodies and unique style by posting outfit photos. All outfit photos must be posted with permission of the photographer and any tags or descriptions of the clothing must be accurate and not misleading.  If you were paid to do a posting by a company or received any other benefits, such as free clothing for the posting, you must disclose that relationship in the posting. </p>
                
                <h3><b>content within posts and comments on posts</b></h3>
                <p>It is critical that all posts on Fashom are maintained within a positive, supportive environment. You agree to adhere to the following rules: </p>
                
                  <div class="list-outer">
                    <ul>
                    <li>You are at least 18 years old.</li>
                <li>You shall not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Mobile Application. </li>
                <li>You are responsible for any activity that occurs through your account and you agree you will not sell, transfer, license or assign your account, followers, username, or any account rights.</li>
                <li>You will not create an account for anyone other than yourself.</li>
                <li>You represent that all information you provide or provided to Fashom upon registration and at all other times will be true, accurate, current and complete and you agree to update your information as necessary to maintain its truth and accuracy.</li>
                <li>You agree that you will not solicit, collect or use the login credentials of other Fashom users.</li>
                <li>You are responsible for keeping your password secret and secure.</li>
                <li>You will not spam, defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Mobile Application including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses.</li>
                <li>You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, musical works, works of authorship, applications, links and other content or materials (collectively, "Content") that you submit, post or display on or via the Website or Mobile Application.</li>
                <li>You may not use the Mobile Application or Website for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations applicable to your use of the Website and Mobile Application and your Content, including but not limited to, copyright laws.</li>
                <li>You will not interfere or disrupt the services of the Website or Mobile Application or servers or networks connected to the Website or Mobile Application, including by transmitting any worms, viruses, spyware, malware or any other code of a destructive or disruptive nature. You may not inject content or code or otherwise alter or interfere with the way any the Website or Mobile Application is rendered or displayed in a user's browser or device.</li>
                <li>You will not use Website or Mobile Application if you are convicted sex offender.</li>
                    </ul>
                  </div>
              
                <p>Fashom may delete any posts from any account as it deems necessary in its sole discretion to maintain the community. </p>
                  
                  <h3><b>access to the service</b></h3>
                  <p>App Stores. With respect to any App accessed through or downloaded from the Apple App Store, Google Play Store or any similar store or marketplace (each an <b>"App Store"</b> and references to the App Store include the corporate entity and its subsidiaries making the App Store available to you), you agree to comply with all applicable third party terms of the App Store (the <b>"Usage Rules"</b>) when using the App. To the extent these Terms of Use provide for usage rules that are less restrictive than or otherwise in conflict with the Usage Rules, the more restrictive term applies.</p>
                  <p>You acknowledge and agree that the availability of the App and the Services is dependent on the third party from whom you received the App license, e.g., the App Store. You acknowledge that these Terms of Use are between you and Fashom and not with the App Store. We, not the App Store, are solely responsible for the App and Services, the content thereof, maintenance, support services, and warranty therefor, and addressing any claims relating thereto (e.g., product liability, legal compliance, or intellectual property infringement). In order to use the App, you must have access to a wireless network, and you agree to pay all fees associated with such access. You also agree to pay all fees (if any) charged by the App Store in connection with the App or Services. You agree to comply with, and your license to use the App is conditioned upon your compliance with, all applicable third-party terms of agreement (e.g., the App Store's terms and policies) when using the App or Services. You acknowledge that the App Store (and its subsidiaries) are third-party beneficiaries of these Terms of Use and will have the right to enforce them.</p>  
                  
                  <h3><b>ownership of intellectual property</b></h3>
                  <p>Unless otherwise noted, the Website, Mobile Application and all materials on the Website and Mobile Application including text, images, illustrations, designs, icons, photographs, video clips and other materials, and the copyrights, trademarks, trade dress and/or other intellectual property in such materials (collectively, the "Contents"), are owned, controlled or licensed by Fashom and other trademarks appearing on the Website are the trademarks of Fashom its affiliates.</p>
                  <p>Images posted by individual users on their accounts remain the property of the individuals but when posting you grant Fashom the right to reproduce the image within the context of the mobile application and website, and edit it as necessary for formatting it within the mobile application and website. </p>
                  <p>The Website and Mobile Application and the contents are intended solely for personal, non-commercial use. You may download or copy the contents and other downloadable materials displayed on the Website for your personal use only. No right, title or interest in any downloaded content is transferred to you as a result of any such downloading or copying. You may not reproduce (except as noted above), publish, transmit, distribute, display, modify, create derivative works from, sell or exploit in any way any of the contents or the Website or Mobile Application. </p>
                  
                  <h3><b>limitation of liability</b></h3>
                  <p>The Fashom Mobile Application and Website are intended for personal use.  You agree to defend, indemnify and hold harmless Fashom and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (i) your use of and access to the Website and Mobile Application including any data or content transmitted or received by you; (ii) your violation of any term of the Terms of Use or Privacy Policy (Agreements), including without limitation your breach of any of the representations and warranties you make in these Agreements; (iii) your violation of any third-party right, including without limitation any right of privacy or intellectual property rights; (iv) your violation of any applicable law, rule or regulation; (v) any claim or damages that arise as a result of any of your User Content or any that is submitted via your account; or (vi) any other party’s access and use of the Website or Mobile Application with your username, password or other appropriate security code.</p>
                  <p>THE SERVICE AND ANY PRODUCT YOU RECEIVE THROUGH THE WEBSITE OR MOBILE APPLICATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. USE OF THE MOBILE APPLICATION AND WEBSITE IS AT YOUR OWN RISK. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE AND THE PRODUCTS ARE PROVIDED WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, FASHOM, ITS SUBSIDIARIES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE OR THE PRODUCTS WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.</p>
                  <p>BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>
                  <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL FASHOM, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS OR LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES, THAT RESULT FROM THE USE OF, OR INABILITY TO USE,THIS WEBSITE OR MOBILE APPLICATION. UNDER NO CIRCUMSTANCES WILL FASHOM BE RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICE OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.</p>
                  <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, FASHOM ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AVAILABLE ON OR THROUGH THE MOBILE APPLICATION OR WEBSITR; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF OUR WEBSITE, MEMBERSHIP SERVICE OR ANY PRODUCT RECEIVED FROM OUR SERVICE; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION STORED THEREIN; (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICE; (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE THAT MAY BE TRANSMITTED TO OR THROUGH OUR SERVICE BY ANY THIRD PARTY; (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH THE WEBSITE OR MOBILE APPLICATION; AND/OR (VII) USER CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY.</p>
                  
                  <h3><b>content removal & suspension of account</b></h3>
                  <p>We reserve the right, at any time and without prior notice, to remove, block, or disable access to any content or accounts that we, for any reason or no reason, consider to be objectionable, in violation of the Terms of Use or Privacy Policy or otherwise harmful to our users or Fashom in our sole discretion. </p>
                  <p>Subject to the requirements of applicable law, we are not obligated to return any of the content to you under any circumstances.</p>
                  <p>Fashom reserves the right in its sole discretion to suspend or terminate your Account and refuse any and all current or future use of the Website or Services (or any portion thereof) at any time for any reason. You agree that Fashom will not be liable to you or to any third party for any suspension or termination of your Account or any refusal of any use of the Website or Mobile Application (or any portion thereof).</p>
                  
                  <h3><b>delivery of confidental information by user</b></h3>
                  <p>Fashom discourages users from sending any confidential or proprietary information through the Website or Mobile Application. Any information, materials, suggestions, ideas or comments sent to Fashom will be considered non-confidential, and by submitting it, you are giving Fashom the absolute right to use, modify, reproduce, transmit, display and distribute it for any purpose whatsoever, with no payment or other compensation to you.</p>
                  
                  <h3><b>right to change website and mobile application content</b></h3>
                  <p>The Website and Mobile Application will be updated as product offerings change, or as the communication needs or desired of Fashom develop. Fashom makes no guarantees that content provided through the website or Mobile Application will remain available to the public through the Website. Fashom may also update or alter the layout, designs, or links within the Website and Mobile Application</p>
                  
                  <h3><b>links to third party websites</b></h3>
                  <p>Fashom may link to third party websites through the Website or Mobile Applications. Fashom makes no guarantees that the websites featured on these links provide accurate or complete content. Links provided through the Website or Mobile Application do not create an endorsement relationship or an affiliation with Fashom. Fashom reserves the right to remove these third-party links at any time. Please review the terms of use or privacy policies of these websites for rights and restrictions.</p>
                  
                  <h3><b>digital millennium copyright act & requests for content removal</b></h3>
                  <p>If you believe that any content appearing on the Website or Mobile Application infringes your copyright rights, we want to hear from you. Please forward the following information in writing to the Copyright Agent at the address listed below:</p>
                  
                  <div class="list-outer">
                    <ul>
                    <li>your name, address, telephone number, and e-mail address;</li>
                <li>a description of the copyrighted work that you claim has been infringed;</li>
                <li>the exact URL or a description of each place where alleged infringing material is located;</li>
                <li>a statement by you that you have a good faith belief that the disputed use has not been authorized by you, your agent, or the law;</li>
                <li>your electronic or physical signature or the electronic or physical signature of the person authorized to act on your behalf; and</li>
                <li>a statement by you made under penalty of perjury, that the information in your notice is accurate, that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
                </ul>
                </div>
            
                <p>COPYRIGHT AGENT<br/>
                Withom, LLC<br/>
                8911 Collins Ave #605, Surfside, FL 33154. <br/>
                info@fashom.com<br/>
                  </p>
                  
                  <p>Fashom seeks to preserve any and all exemptions from liability that may be available under the copyright law, but does not necessarily stipulate that it is a service provider as defined in USC section 512(c) or elsewhere</p>
                  
                  <h3><b>california users - comments & feedback</b></h3>
                  <p>For California users, in compliance with your rights under California Civil Code 1789.3, you have the right contact Fashom with any complaints or to seek additional information. You may email Fashom at info@fashom.com.You may also call (646) 598-6834. For any physical documents, you may send mail to Withom, LLC 8911 Collins Ave #605, Surfside, FL 33154.</p>
                  
                  <p>If California users have any questions or complaints about Fashom, they may also contact The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs through writing at 1625 North Market Blvd., Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210.</p>
                  
                  <h3><b>arbitration agreement; class waiver; waiver of trial by jury.</b></h3>
                  <p><b>Please read this Section ("Arbitration Agreement") carefully. It is part of your contract with us and affects your rights. It contains procedures for mandatory binding arbitration and a class action waiver.</b></p>
                  
                  <p>Applicability of Arbitration Agreement. All claims and disputes (excluding claims for injunctive or other equitable relief as set forth below) in connection with the Terms of Use or the use of the Services that cannot be resolved informally or in small claims court will be resolved by binding arbitration on an individual basis under the terms of this Arbitration Agreement. Unless otherwise agreed to, all arbitration proceedings will be held in English. This Arbitration Agreement applies to you and us, and to any subsidiaries, affiliates, agents, employees, predecessors in interest, successors, assigns, suppliers and licensors as well as all authorized or unauthorized users or beneficiaries of the Services. Notice Requirement and Informal Dispute Resolution. Before either party may seek arbitration, the party must first send to the other party a written Notice of Dispute ("Notice") describing the nature and basis of the claim or dispute, and the requested relief. A Notice to us should be sent to: 8911 Collins Ave #605, Surfside, FL 33154.</p>
                  
                  <p>After the Notice is received, the parties may attempt to resolve the claim or dispute informally. If the parties do not resolve the claim or dispute within thirty (30) days after the Notice is received, either party may begin an arbitration proceeding The amount of any settlement offer made by any party may not be disclosed to the arbitrator until after the arbitrator has determined the amount of the award, if any, to which either party is entitled. Arbitration Rules. Arbitration will be initiated through the American Arbitration Association ("AAA"), an established alternative dispute resolution provider ("ADR Provider") that offers arbitration as set forth in this Section. If AAA is not available to arbitrate, the parties will agree to select an alternative ADR Provider. The rules of the ADR Provider will govern all aspects of the arbitration, including but not limited to the method of initiating and/or demanding arbitration, except to the extent such rules are in conflict with the Terms of Use. The AAA Consumer Arbitration Rules ("Arbitration Rules") governing the arbitration are available online at www.adr.org or by calling the AAA at 1-800-778-7879. The arbitration will be conducted by a single, neutral arbitrator. Any claims or disputes where the total amount of the award sought is less than Ten Thousand U.S. Dollars (US $10,000.00) may be resolved through binding non-appearance-based arbitration, at the option of the party seeking relief. For claims or disputes where the total amount of the award sought is Ten Thousand U.S. Dollars (US $10,000.00) or more, the right to a hearing will be determined by the Arbitration Rules. Any hearing will be held in a location within 100 miles of your residence, unless you reside outside of the United States, and unless the parties agree otherwise, however whenever possible the arbitration shall be conducted remotely, and not in-person. If you reside outside of the U.S. the arbitrator will give the parties reasonable notice of the date, time and place of any oral hearings. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. If the arbitrator grants you an award that is greater than the last settlement offer that we made to you prior to the initiation of arbitration, we will pay you the greater of the award or $2,500.00. Each party will bear its own costs (including attorneys' fees) and disbursements arising out of the arbitration and will pay an equal share of the fees and costs of the ADR Provider.</p>
                  
                  <p>Additional Rules for Non-Appearance Based Arbitration. If non-appearance based arbitration is elected, the arbitration will be conducted by telephone, online and/or based solely on written submissions; the specific manner will be chosen by the party initiating the arbitration. The arbitration will not involve any personal appearance by the parties or witnesses unless otherwise agreed by the parties. Time Limits. If either party pursues arbitration, the arbitration action must be initiated and/or demanded within the statute of limitations (i.e., the legal deadline for filing a claim) and within any deadline imposed under the AAA Rules for the pertinent claim.</p>
                  
                  <p>Authority of Arbitrator. If arbitration is initiated, the arbitrator will decide the rights and liabilities, if any, of the parties, and the dispute will not be consolidated with any other matters or joined with any other cases or parties. The arbitrator will have the authority to grant motions dispositive of all or part of any claim. The arbitrator will have the authority to award monetary damages, and to grant any non-monetary remedy or relief available to an individual under applicable law, the AAA Rules, and the Terms of Use. The arbitrator will issue a written award and statement of decision describing the essential findings and conclusions on which the award is based, including the calculation of any damages awarded. The arbitrator has the same authority to award relief on an individual basis that a judge in a court of law would have. The award of the arbitrator is final and binding upon the parties.</p>
                  
                  <p>WAIVER OF JURY TRIAL. <b>The parties hereby waive their constitutional and statutory rights to go to court and have a trial in front of a judge or a jury,</b> instead electing that all claims and disputes will be resolved by arbitration under this Arbitration Agreement. Arbitration procedures are typically subject only to very limited review by a court. In the event any litigation should arise between the parties in any state or federal court in a suit to vacate or enforce an arbitration award or otherwise, the parties waive all rights to a jury trial, instead electing that the dispute be resolved by a judge.</p>
                  
                  <p>WAIVE OF CLASS OR CONSOLIDATED ACTIONS. <b>All claims and disputes within the scope of this arbitration agreement must be arbitrated or litigated on an individual basis and not on a class basis, and claims of more than one customer or user cannot be arbitrated or litigated jointly or consolidated with those of any other customer or user.</b></p>
                  
                  <p>CONFIDENTIALITY. All aspects of the arbitration proceeding, including but not limited to the award of the arbitrator and compliance therewith, will be strictly confidential. The parties agree to maintain confidentiality unless otherwise required by law. This paragraph will not prevent a party from submitting to a court of law any information necessary to enforce this Agreement, to enforce an arbitration award, or to seek injunctive or equitable relief.</p>
                  
                  <p>SEVERABILITY. If any part or parts of this Arbitration Agreement are found under the law to be invalid or unenforceable by a court of competent jurisdiction, then such specific part or parts will be of no force and effect and will be severed and the remainder of this Arbitration Agreement will continue in full force and effect.</p>
                <p>RIGHT TO WAIVE. Any or all of the rights and limitations set forth in this Arbitration Agreement may be waived by the party against whom the claim is asserted. Such waiver will not waive or affect any other portion of this Arbitration Agreement.</p>
                  <p>SURVIVAL. This Arbitration Agreement will survive the termination of your relationship with us.</p>
                Small Claims Court. Notwithstanding the foregoing, either party may bring an individual action in small claims court.</p>
                <p>EMERGENCY EQUITABLE RELIEF. Notwithstanding the foregoing, either party may seek emergency equitable relief before a state or federal court in order to maintain the status quo pending arbitration. A request for interim measures will not be deemed a waiver of any other rights or obligations under this Arbitration Agreement.
                  <p>CLAIMS NOT SUBJECT TO ARBITRATION. Notwithstanding the foregoing, claims of defamation, violation of the Computer Fraud and Abuse Act, and infringement or misappropriation of the other party's patent, copyright, trademark or trade secrets will not be subject to this Arbitration Agreement.</p>
                  Courts. In any circumstances where the foregoing Arbitration Agreement permits the parties to litigate in court, the parties hereby agree to submit exclusively to the personal jurisdiction of the courts located within Miami, Florida for such purpose.</p>
            <p></p><p></p>
            
                        </div>
    </div>
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')