@@include('src/modules/head/head.html',{"title":"FASHOM - Privacy &amp; Policy", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
    <div class="container">
        <h1 class="popup__heading">Privacy Policy</h1>
        
        <div class="static__text"> <p>Thank you for visiting the Fashom website or accessing the Fashom mobile application.  Fashom's services, the website, and mobile application are owned and operated by Withom, a Florida LLC, doing business as 'Fashom' (referred within this agreement as 'Fashom'). 'You' within this agreement shall mean any and all users accessing the Website or Mobile Application of Fashom. 
                <br/>
                By accessing the Fashom website or accessing the Fashom mobile, you agree to be bound to this Privacy Policy and Terms of Service.  
                </p>
                <h3><b>PERSONAL INFORMATION STORED BY FASHOM</b></h3>
                <p>In order to carry out the services of Fashom and to provide a great user experience, Fashom will collect and store the following information about you: </p>
                <div class="list-outer">
                <ul>
                    <li>First and Last Name</li>
                    <li>Content You Post Publicly or Privately on Your Fashom Account, Including Style Preferences and Body Measurements</li>
                    <li>Searches Completed through the Mobile Application or Website</li>
                    <li>Mailing Address</li>
                  <li>Mob ile Device Identification Information</li>
                  <li>Mobile Device Location Information</li>
                  <li>Profile Information from Third-Party Social Media Websites</li>
                  <li>Stored Information or Files Created or Stored on Mobile Application</li>
                  <li>Connections to Other Users on Mobile Application</li>
                  <li>Messages You Send to Users of Mobile Application</li>
                  <li>Your Email Address</li>
                  <li>Any Emails You Send to Fashom</li> 
                  <li>IP Address</li>
                  <li>Domain Name</li>
                  <li>Times of Access to Website or Mobile Application</li>
                  <li>Website that Referred to Fashom</li>
                  <li>Your Operating System Type</li>
          
                </ul>
               </div>
                <p>It may not be readily apparent to you when such data is being collected. For instance, when you come to the Fashom website, your IP address is collected so that Fashom knows where to send information you are requesting. An IP address is a number that is used by computers on the network to identify your computer every time you log on to the Internet.  Similarly, Fashom or a third party may place cookies or use web beacons, which may be used to identify some of your preferences.  A “cookie” is a small file or record-keeping device that websites often store on a user’s computer. (You can disable cookies or set your browser to alert you when cookies are being sent to your computer.)</p>
                <p>Fashom does not sell you data to third-parties, but may disclose information about you to third-parties for assistance in improving the Fashom products and services. Fashom may also disclose information about you to third-parties where Fashom has a good faith belief that such disclosure is necessary in order to: (i) protect, enforce, or defend the legal rights, privacy, safety, or property of Fashom, our affiliates or their employees, agents and contractors (including enforcement of our agreements and our terms of use); (ii) protect the safety, privacy, and security of users of the Fashom employees, owners, or members of the public; (iii) protect against fraud or for risk management purposes; (iv) comply with the law or legal process; or (v) respond to requests from public and government authorities.</p>
                <p><b>Do Not Track Signals: </b>Fashom may (and Fashom may allow third party service providers to) use cookies or similar technologies to collect information about your browsing activities over time and across different websites following your use of the Service. Our Service currently does not respond to "Do Not Track" (DNT) signals and operates as described in this Privacy Policy whether or not a DNT signal is received. If Fashom does so in the future, it will describe how do so in an updated Privacy Policy.</p>
                
                <h3><b>COMMERICAL AND NON-COMMERICAL COMMUNICATION</b></h3>
                <p>By providing information to the Website, such as signing up for a newsletter or promotion, you waive all rights to file complaints concerning unsolicited email from Fashom since you have agreed to such communication by providing your information to Fashom. However, you may unsubscribe from certain communications by notifying Fashom that you no longer wish to receive solicitations or information. Fashom will remove you from the database, where you have the right to request this under the Privacy Policy, Terms of Use, or applicable law, or where Fashom voluntarily decides to grant the request. Fashom may still attempt communication regarding orders placed or outstanding payments owed. You agree to allow this type of communication regardless of requests to be removed from marketing communication.</p>
                
                <h3><b>PAYMENT PROCESSING</b></h3>
                <p>Fashom does not save any credit card information of any users. Fashom uses third-party [ stripe ] to process all payments to store credit card details. Please review their Privacy Policy located https://stripe.com/us/privacy for understanding their security measures. With using Fashom’s services, you agree to use the third-party for your payments, understand the risks associated with online payments, and accept the security measures of the payment service.</p>
                
                <h3><b>CHILDREN’S ONLINE PRIVACY PROTECTION ACT</b></h3>
                <p>The Fashom website and mobile application are directed to adults, over the age of 18. Fashom does not knowingly collect information from children under 13 years of age or have any reasonable grounds for believing that persons under the age of 13 are accessing the Website or making use of Fashom’s Mobile Application. If Fashom discovers any inadvertently collected Personal Information of a person under the age of 13, that information will be swiftly deleted from its’ records. If you believe that Fashom may have any information from a person under age 13, please contact Fashom at info@fashom.com</p>
                
                <h3><b>YOUR CALIFORNIA PRIVACY RIGHTS</b></h3>
                <p>Fashom welcomes residents of the State of California to use its Website, and complies with the California Business and Professions Code §§ 22575-22579. If you are a California resident you may request certain information regarding our disclosure of personal information to any third parties for their direct marketing purposes. Please send a written request to Withom, LLC, 8911 Collins Ave #605, Surfside, FL 33154.  </p>
                <p>Various provisions throughout this Privacy Policy address requirements of the Californian privacy statutes. If you have any questions contact Fashom at info@fashom.com</p>
                
                
                <h3><b>USER ACCESS AND CONTROL</b></h3>
                <p>If you would like to access, review, correct, update, suppress, or otherwise limit our use of your personal information you have previously provided directly to us, you may contact Fashom at info@fashom.com. In your request, please include your email address, name, address, and telephone number and specify clearly what information you would like to access, change, update, or suppress. Fashom will try to comply with your request as soon as reasonably practicable.</p>
                <p>Fashom reserves the right to make changes to this Privacy Policy at any time. If Fashom changes its Privacy Policy, Fashom will notify you via email sent to the email address you provide at the time of registration as well as post an updated version of this Privacy Policy on the Fashom website and Mobile Apllication so that you and other users are always aware of what information is collected, how it is used, and under what circumstances, if any, Fashom discloses it. Changes will not apply retroactively and changes addressing new functions for a service or changes made for legal reasons will be effective immediately.  If you do not agree to the modified terms, you should discontinue your use of the Website and Mobile Applications.  Your continued use of the Website and Mobile Applications after any such changes constitutes your acceptance of the new Privacy Policy.  You should also check back from time to time to ensure you are aware of any changes </p>
<p></p><p></p>          
            
                        </div>
    </div>
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')