@@include('src/modules/head/head.html',{"title":"FASHOM - Outfit", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/faq/faq-board.html",
        "bg":"./media/img/faq/FAQ_bg_image.png",
        "class":"faq__board auto"
    })
    <div class="container faq__container">
        <div class="faq__question__section">
            <h2>What is Fashom ?</h2>
            <p>How do I post pictures?</p>
        </div>
        <div class="faq__question__section">
            <h2>How do I post pictures?</h2>
            <p>Go to Camera Icon. Select an image or video from your phone or from other social networks. Once the image is in preview box, start tagging your items.</p>
            <a class="app__store__link">Click here to download the app from the app store</a>
        </div>
        <div class="faq__question__section">
            <h2>What are popular posts?</h2>
            <p>Posts that have highest number of likes.</p>
        </div>
        <div class="faq__question__section">
            <h2>What is a business user?</h2>
            <p>Any brand/retailer/designer who wants to showcase their products should sign up under business users. Business users will have special access to their followers list.</p>
        </div>
        <div class="faq__question__section">
            <h2>Can I follow anyone?</h2>
            <p>Yes.</p>
        </div>
        <div class="faq__question__section">
            <h2>Is it safe to share my Instagram of Facebook login?</h2>
            <p>Your information is 100% safe with us, it's not provided to any third party.</p>
        </div>
    </div>
    @@include('src/modules/home/login-popup.html')
    @@include('src/modules/home/signup-popup.html')  
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')