@@include('src/modules/head/head.html',{"title":"FASHOM - Outfit", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
    
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/login/forgot-board.html",
        "bg":"./media/img/login/login_pass_bg_image.png",
        "class":"login__board auto"
    })
    <div class="container request-styling forgotpassword__form__container">
        <form class="profile">
            <h2 class="forgotpassword__title">We'll send you an email</h2>
            <div class="form-block">
                <div class="input-group prefix">
                    <i class="icon"><img src="./media/img/login/LogIn_name_icon.png" alt=""></i>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">E-mail</label>
                    </div>
                </div>
            </div>
            <div class="login__container">
                <button type="submit" class="btn btn--theme" onclick="validate(this)">Reset My Password</button>
            </div>
        </form>
    </div>
    @@include('src/modules/home/login-popup.html')
    @@include('src/modules/home/signup-popup.html') 
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')