@@include('src/modules/head/head.html',{"title":"FASHOM - Outfit", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
        
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/contactus/contactus-board.html",
        "bg":"./media/img/contactus/Contact_bg_image.png",
        "class":" auto contact-us__board"
    })
    <div class="container">
    <div class="center-block request-styling main__form__container static_login" style="width: 600px">
        <form class="profile login_form">
            <div class="form-block">
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Your name</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for=""> E-mail address</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="text" class="contact__us__textarea__label">Reason to contact</label>
                        <textarea name="text" id="text" class="rounded contact__us__textarea" placeholder="Please Let us know how we can help in more detail." required></textarea>
                    </div>
                </div>
            </div>
            <div class="payment__action" style="margin-top:40px;margin-bottom:40px;">
                <button type="submit" class="btn btn--theme" onclick="validate(this)">Submit</button>
            </div>
        </form>
    </div></div> 
</section>

@@include('src/modules/home/login-popup.html')
@@include('src/modules/home/signup-popup.html')     
@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')