@@include('src/modules/head/head.html',{"title":"FASHOM - Outfit", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

<section class="page">
    
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/login/login-board.html",
        "bg":"./media/img/login/login_pass_bg_image.png",
        "class":"login__board auto"
    })
    <div class="center-block request-styling main__form__container static_login">
        <form class="profile login_form">
            <div class="form-block">
                <div class="input-group prefix">
                    <i class="icon"><img src="./media/img/login/LogIn_name_icon.png" alt=""></i>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Your name or E-mail</label>
                    </div>

                </div>

                <div class="input-group prefix">
                    <i class="icon"><img src="./media/img/login/LogInpassword_icon.png" alt=""></i>
                    <div class="input-box">
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                </div>
            </div>
            <div class="login__container">
                <button type="submit" class="btn btn--theme" onclick="validate(this)">Log In</button>
            </div>
            <h2 class="separator"><span>Or</span></h2>
            <a href="#" class="btn social-btn"><i><img src="./media/img/login/logIn_fb_icon.png" alt=""></i><span style="color:#6138c2;">Log In Using Facebook</span></a>
        </form>
        <div class="login__actions">
            <a href="static_forgotpassword.html">Forgot password</a>
            <a href="#signUpPop" class="js-popup">Create a new account</a>
        </div>
    </div>
    @@include('src/modules/home/login-popup.html')
    @@include('src/modules/home/signup-popup.html')
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')