@@include('src/modules/head/head.html',{"title":"FASHOM - Outfit", "class":"index"})
@@include('src/modules/header/header.html',{"login": "true", "signup":"true"})

    <section class="page">        
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/about/about-board.html",
        "bg":"./media/img/about/About_Bg_image.png",
        "class":"about__board auto"
    })
        <div class="container about__information">
            <div class="text__section">
                <h1 class="home__header" style="text-align:left">What</h1>
                <p>FASHOM is a mobile social platform that celebrates the everyday self-expression and unedited unique styles
                    of real people around the world. This community we're building is about sharing and exploring global
                    fashion by real people -- on filters, no photoshop, no retouching.</p>
                <p>Fashom users can upload their own photos and videos, like and comment on posts, tag the brands they're wearing,
                    follow other users, explore new fashion ideas, share their content to other platforms, and shop through
                    the app. You can also search a digital global map to see where other users are posting, and find cross-cultural
                    inspiration.</p>
            </div>
            <div class="text__section">
                <h1 class="home__header" style="text-align:left">Why</h1>
                <p>We recognize that many of the images on today's most popular social media platforms are altered and enhanced
                    in some way to create a more "perfect" look. These "perfect" images can be intimidating, and promote
                    an unrealistic and unattainable ideal of self-image. They are just as filtered, photoshopped, manipulated
                    and unreal as what you find in the pages of a glossy magazine, which only perpetuates the already all-too-common
                    body image and self-esteem issues that affect many women and men today.</p>
                <p>Unlike other fashion-oriented platforms where users feel they have to meet a certain aesthetic criteria in
                    order to post, Fashom has created a space where people don't have to be intimidated by professional-looking
                    pictures, and where you don't have to feel shy about posting your style.</p>
                <p>What you'll find on Fashom are #nofilter fashion inspirations, and a global forum of real fashion-loving
                    women and men relating to one another over their personal styles, and forming a community around a common
                    interest of fashion.</p>
            </div>
            <div class="text__section">
                <h1 class="home__header" style="text-align:left">Who</h1>
                <p>We are a worldwide team of multicultural individuals who strongly believes that everyone's personal style
                    deserves the same appreciation as high-gross fashion imagery.</p>
                <p>Founded by Mitali Saxena, Fashom started as an app to discover destination-specific style inspiration while
                    packing for global travel. But as the Fashom community grew, we realized this was about so much more
                    than just global fashion. It was a place where real people-the everywoman and everyman-could share personal
                    fashion ideas that mattered to them and connect with like-minded people no matter where they lived in
                    this world.</p>
            </div>
        </div>
        <div class="about__team__section">
            <div class="container">
                <h1 class="home__header">Meet Our Team</h1>
                    <div class="about__team__section__people">
                <div class="img__wrap">
                    <img src="media\img\about\team_photo.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Rita Spencer</a>
                        <h4 class="sub_title">Chief Executive Officer</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_2.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Rita Spencer</a>
                        <h4 class="sub_title">Marketing intern</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_3.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Deanna Miller</a>
                        <h4 class="sub_title">QA intern (iPhone)</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_4.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Sophie Flores</a>
                        <h4 class="sub_title">Product Intern</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Rita Spencer</a>
                        <h4 class="sub_title">Chief Executive Officer</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_2.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Rita Spencer</a>
                        <h4 class="sub_title">Marketing intern</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_3.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Deanna Miller</a>
                        <h4 class="sub_title">QA intern (iPhone)</h4>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\about\team_photo_4.png" alt="">
                    <div class="container img__description">
                        <a class="title" href="#">Sophie Flores</a>
                        <h4 class="sub_title">Product Intern</h4>
                    </div>
                </div></div>
            </div>
        </div>

        @@include('src/modules/home/login-popup.html')
        @@include('src/modules/home/signup-popup.html')
    </section>

    @@include('src/modules/footer/footer.html')
    @@include('src/modules/foot/foot.html')