@@include('src/modules/head/head.html',{"title":"FASHOM", "class":"index"})
@@include('src/modules/header/header.html', {"login":"true", "signup":"true"})

<section class="page">
    @@include('src/modules/board/board.html', {
        "ins":"src/modules/home/home-board.html",
        "bg":"./media/img/home/Home_BG_image.png",
        "class":"home__board auto"
    })
    
    <div class="howitworks__section">
            <div class="container">
                <h1 class="home__header">How It Works</h2>
                    <div class="howitworks__section__features">    
                <div class="img__wrap">
                    <img src="media\img\home\personal_icon.png" alt="" class="circle">
                    <div class="img__description">
                        <span class="title" href="#">Fill your personal details</span>
                        <span class="sub_title">In order for us to style you better, please fill out the form. Your info is 100% protected by Fashom.</span>
                        <span class="background__image"></span>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\home\girls.png" alt="" class="circle">
                    <div class="img__description">
                        <span class="background__image"></span>
                        <span class="title" href="#">Select a stylist and submit your request</span>
                        <span class="sub_title">Pick a stylist you want to work with or select Fashom Styling Team. You can add any additional requests here.</span>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\home\clothes.png" alt="" class="circle">
                    <div class="img__description">
                        <span class="background__image"></span>
                        <span class="title" href="#">Choose items from your outfits</span>
                        <span class="sub_title">Receive your outfit curations on Fashom App within 72 hours and choose any 5 or more items to be shipped to you. Shipping and returns are free.</span>
                    </div>
                </div>
                <div class="img__wrap">
                    <img src="media\img\home\present.png" alt="" class="circle">
                    <div class="img__description">
                        <span class="background__image"></span>
                        <span class="title" href="#">Keep what you want</span>
                        <span class="sub_title">Try all the items at home and pay for what you want. You can place the label on our box and send back the items you want to return.</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="about__team__section" style="background-color:#fff;">
            <h1 class="home__header">FAQ</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="faq__block">
                            <span class="toggle toggle-plus"></span>
                            <label class="faq__item">Lorem ipsum dolor sit amet?</label>
                            <div class="faq__desc">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        <div class="faq__block">
                            <span class="toggle toggle-plus"></span>
                            <label class="faq__item">Lorem ipsum dolor sit amet?</label>
                            <div class="faq__desc">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        <div class="faq__block">
                            <span class="toggle toggle-plus"></span>
                            <label class="faq__item">Ut enim ad minim veniam, quis nostrud?</label>
                            <div class="faq__desc">
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="faq__block">
                                <span class="toggle toggle-plus"></span>
                                <label class="faq__item">Sed ut perspiciatis unde omnis iste natus?</label>
                                <div class="faq__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                            <div class="faq__block">
                                <span class="toggle toggle-plus"></span>
                                <label class="faq__item">Ut enim ad minim veniam, quis nostrud?</label>
                                <div class="faq__desc">
                                    Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </div>
                            </div>
                            <div class="faq__block">
                                <span class="toggle toggle-plus"></span>
                                <label class="faq__item">Duis aute irure dolor in reprehenderit?</label>
                                <div class="faq__desc">
                                    In voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </div>
                            </div>
                    </div>
                </div>
                <a class="faq__more__link">More Options</a>
            </div>
        </div>
        <div class="about__team__section">
            <div class="container">
                <h1 class="home__header">Ready To Be Styled?</h2>
                <div class="board__actions">
                    <a href="#signUpPop" class="btn btn--theme js-popup">Let's Go</a>
                    <a href="#" class="btn social-btn" style="background-color: transparent;"><i><img src="./media/img/login/logIn_fb_icon.png" alt=""></i><span style="color:#6138c2;">Continue With Facebook</span></a>
                </div>
            </div>
        </div>
        <div class="customer__reviews__section" style="background-color: #fff;">
            <div class="container">
                <h1 class="home__header">Customer Reviews</h2>
                    <div class="customer__reviews__box">
                <div class="media img__wrap">
                    <a class="instagram__link" href="#"><img class="mr-3 media__image" src="media\img\about\team_photo.png" data-holder-rendered="true"></a>
                    <div class="media-body img__description">
                        <div class="img__text__block">
                            <span class="title" href="#">Name Surname</span>
                            <span class="sub_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do iusmo d tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</h4>
                        </div>
                    </div>
                </div>
                <div class="media img__wrap">
                    <a class="instagram__link" href="#"><img class="mr-3 media__image" src="media\img\about\team_photo_2.png" data-holder-rendered="true"></a>
                    <div class="media-body img__description">
                        <div class="img__text__block">
                            <span class="title" href="#">Name Surname</span>
                            <span class="sub_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do iusmo d tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</h4>
                        </div>
                    </div>
                </div>
                <div class="media img__wrap">
                    <a class="instagram__link" href="#"><img class="mr-3 media__image" src="media\img\about\team_photo_3.png" data-holder-rendered="true"></a>
                    <div class="media-body img__description">
                        <div class="img__text__block">
                            <span class="title" href="#">Name Surname</span>
                            <span class="sub_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do iusmo d tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</h4>
                        </div>
                    </div>
                </div>
                <div class="media img__wrap">
                    <a class="instagram__link" href="#"><img class="mr-3 media__image" src="media\img\about\team_photo_4.png" data-holder-rendered="true"></a>
                    <div class="media-body img__description">
                        <div class="img__text__block">
                            <span class="title" href="#">Name Surname</span>
                            <span class="sub_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do iusmo d tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</h4>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
        @@include('src/modules/home/login-popup.html')
        @@include('src/modules/home/signup-popup.html')
</section>

@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')