



    @@include('src/modules/head/head.html',{"title":"FASHOM", "class":"index"})
    @@include('src/modules/header/header.html',{"my_style": "true", "how_it_works":"true", "acc":"true"})

<section class="page">

        <div class="container">
                @@include('src/modules/steps/steps.html', {
                    "steps":[
                        {
                            "class":"complete",
                            "name":"Pick"
                        },
                        {
                            "class":"active",
                            "name":"Style"
                        },
                        {
                            "class":"",
                            "name":"Shop"
                        },
                        {
                            "class":"",
                            "name":"Checkout"
                        }
                    ]
                })
        </div>
        
        @@include('src/modules/board/board.html', {
            "ins":"src/modules/outfit/style_waiting.html",
            "bg":"./media/img/quest/style-waiting.jpg"
        })
    
</section>


@@include('src/modules/footer/footer.html')
@@include('src/modules/foot/foot.html')