<div class="breadcrumbs">
	<div class="container">
	    <ul>
			@@for (var i = 0; i < arr.length; i++) {
				@@include('src/modules/breadcrumbs/item.html', {
					"title": "`+arr[i].title+`",
					"link": "`+arr[i].link+`"
				})
			}
	    </ul>
    </div>
</div>
