

<div class="container">
    <div class="tabs profile">
        <nav class="tabs__nav">
            <a href="profile_settings.html" class="tab__link ">Personal Settings</a>
            <a href="profile_billing.html" class="tab__link  tab__link--active">Billing Info</a>
            <a href="profile_shipping.html" class="tab__link ">Shipping Info</a>
        </nav>
        <div class="tabs__conts">
            <div class="tab__cont" id="billing">
                <form action="" class="profile">
                    <h2 class="page-title">Billing Information</h2>
                    <div class="input-group">
                        <div class="input-box">
                            <input type="text" required>
                            <label for="">Name On Card</label>
                        </div>
                        <div class="input-box">
                            <input type="number" required>
                            <label for="">CVV</label>
                        </div>
                        <div class="input-box">
                            <input type="number" required>
                            <label for="">Credit Card Number</label>
                        </div>
                        <div class="input-box">
                            <input type="text" required>
                            <label for="">Expiration Date</label>
                        </div>
                    </div>
                    <div class="profile__action">
                        <button type="submit" class="btn--theme" onclick="validate(this)">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>