

<div class="container">
    <div class="tabs profile">
        <nav class="tabs__nav">
            <a href="profile_settings.html" class="tab__link tab__link--active ">Personal Settings</a>
            <a href="profile_billing.html" class="tab__link ">Billing Info</a>
            <a href="profile_shipping.html" class="tab__link ">Shipping Info</a>
        </nav>
        <div class="tabs__conts">
            <div class="tab__cont" id="settings">
                
<form action="" class="profile">
    <h2 class="page-title">Personal Information</h2>
    <div class="input-group">
        <div class="input-box">
            <input type="text" required>
            <label for="">Name</label>
        </div>
        <div class="input-box">
            <input type="text" required>
            <label for="">Surname</label>
        </div>
        <div class="input-box">
            <input type="email" required>
            <label for="">E-mail Address</label>
        </div>
        <div class="input-box">
            <input type="url" required>
            <label for="">Website or Social Networks</label>
        </div>
        <div class="input-box">
            <select data-placeholder="State" required>
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="input-box">
            <input type="number" required>
            <label for="">Zip Code</label>
        </div>
    </div>
    <div class="profile__action">
        <button type="submit" class="btn--theme" onclick="validate(this)">Save Changes</button>
    </div>
</form>
<form action="" class="profile">
    <h2 class="page-title">Update Password</h2>
    <div class="input-group">
        <div class="input-box">
            <input type="password" required>
            <label for="">Current Password</label>
        </div>
    </div>
    <div class="input-group">
        <div class="input-box">
            <input type="password" required>
            <label for="">New Password</label>
        </div>
    </div>
    <div class="input-group">
        <div class="input-box">
            <input type="password" required>
            <label for="">Confirm New Password</label>
        </div>
    </div>
    <div class="profile__action">
        <button type="submit" class="btn--theme" onclick="validate(this)">Save New Password</button>
    </div>
</form>
            </div>
        </div>
    </div>
</div>