<div class="popup" id="cancelPop" data-close="popup">

    <h2 class="popup__heading">Cancel Session!</h2>
    <form action="">
        <div class="popup__content">
            <p class="center">Please clarify why you want to cancel session?</p>
            <br>
            <div class="input-box">
                <textarea name="cancelReason" id="cancelReason" style="height:auto" rows="4" required></textarea>
                <label for="cancelReason">Cancel reason</label>
            </div>
        </div>
        <div class="popup__action center">
            <button type="submit" class="btn btn--theme" style="width: 200px; margin: auto;" onclick="validate(this)">Cancel session</button>
        </div>
    </form>
</div>