<div class="container">
	@@include('src/modules/steps/steps.html', { "steps":[ { "class":"complete", "name":"Pick" }, { "class":"complete", "name":"Style"
	}, { "class":"active", "name":"Shop" }, { "class":"", "name":"Checkout" } ] })
	<form action="" class="cart" data-next-step="outfit_checkout.html">
		<div class="cart__items">
				<div class="item">
					<div class="item__image">
						<img src="./media/img/looks/look1/shoe.png" alt="">
					</div>
					<div class="item__details">
						<h2 class="item__heading">Medium-Length Name</h2>
						<h3 class="item__manufacturer">Manufacturer</h3>
						<div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</div>
						<div class="item__footer item__footer--left">
							<div class="item__price">$68</div>
							<div class="item__actions">
								<a href="#" class="btn--theme">Delete</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__image">
						<img src="./media/img/looks/look1/jacket.png" alt="">
					</div>
					<div class="item__details">
						<h2 class="item__heading">Medium-Length Name</h2>
						<h3 class="item__manufacturer">Manufacturer</h3>
						<div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.</div>
						<div class="item__footer item__footer--left">
							<div class="item__price">$68</div>
							<div class="item__actions">
								<a href="#" class="btn--theme">Delete</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="cart__total cart__action">
			<div class="total-sum">
				<span class="total-title">Total:</span>
				<span class="total-cost">$204.0</span>
			</div>

			<button type="submit" class="btn btn--theme">Ship It</button>
			<button type="submit" class="btn btn--theme--inverse">Continue Shopping</button>
		</div>
	</form>
</div>