
    <div class="container">
            @@include('src/modules/steps/steps.html', {
                "steps":[
                    {
                        "class":"active",
                        "name":"Pick"
                    },
                    {
                        "class":"",
                        "name":"Style"
                    },
                    {
                        "class":"",
                        "name":"Shop"
                    },
                    {
                        "class":"",
                        "name":"Checkout"
                    }
                ]
            })
        <form action="" class="payment" data-next-step="styling_request.html">
            <div class="form-block form-block--gray">
                <h2 class="form-block-heading center">Payment Method</h2>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Name on card</label>
                    </div>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">CVV</label>
                    </div>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Credit card number</label>
                    </div>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Expiration date</label>
                    </div>
                </div>
            </div>
            <div class="form-block">
                <h2 class="form-block-heading center">Shipping Address</h2>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Your name</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Address</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">address Line 2</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">City</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <select required data-placeholder="State">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <input type="text" required>
                        <label for="">Zip Code</label>
                    </div>
                </div>
            </div>
            <div class="payment__action">
                <button type="submit" class="btn btn--theme" onclick="validate(this)">Save Information</button>
            </div>
        </form></div>