<div class="container">
	@@include('src/modules/steps/steps.html', { "steps":[ { "class":"complete", "name":"Pick" }, { "class":"complete", "name":"Style"
	}, { "class":"complete", "name":"Shop" }, { "class":"active", "name":"Checkout" } ] })
	<form action="" class="cart" data-next-step="outfit_checkout.html">
		<div class="cart__items">
			<div class="item">
				<div class="item__image">
					<img src="./media/img/looks/look1/shoe.png" alt="">
				</div>
				<div class="item__details">
					<h2 class="item__heading">Medium-Length Name</h2>
					<div class="item__reason">

						<div class="item__attributes">
							<div class="item__attributes-col">
								<h3 class="attr-heading">Return reasons</h3>
								<div class="item__attributes-group">
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="reason" id="size2Small">
										<label for="size2Small">too small</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="reason" id="size2Right" checked>
										<label for="size2Right">just right</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="reason" id="size2Big">
										<label for="size2Big">too big</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="style2" id="style2Love" checked>
										<label for="style2Love">love it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="style2" id="style2Like">
										<label for="style2Like">like it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="style2" id="style2Ok">
										<label for="style2Ok">just ok</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="style2" id="style2Hate">
										<label for="style2Hate">hate it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="price2" id="price2Low">
										<label for="price2Low">too low</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="price2" id="price2Right" checked>
										<label for="price2Right">just right</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="price2" id="price2Hight">
										<label for="price2Hight">too high</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="fit2" id="fit2Love" checked>
										<label for="fit2Love">love it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="fit2" id="fit2Like">
										<label for="fit2Like">like it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="fit2" id="fit2Ok">
										<label for="fit2Ok">just ok</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="checkbox" name="fit2" id="fit2Hate">
										<label for="fit2Hate">hate it</label>
									</div>
								</div>
							</div>
						</div>
						<textarea class="item__comment rounded" placeholder="Comments?"></textarea>
					</div>
					<div class="item__footer">
						<div class="item__price">$68</div>
						<div class="item__actions keep-radios">
							<div class="radio-box radio-box--button">
								<input type="radio" name="keep" checked id="keep1" value="keep">
								<label for="keep1">Keep</label>
							</div>
							<div class="radio-box radio-box--button">
								<input type="radio" name="keep" id="return1" value="return">
								<label for="return1">Return</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img src="./media/img/looks/look1/jacket.png" alt="">
					<div class="fees">
						<div class="fee">Discount Field:
							<span class="fee-cost">$04.8</span>
						</div>
						<div class="fee">Styling Fee:
							<span class="fee-cost">$256.0</span>
						</div>
					</div>
				</div>
				<div class="item__details">
					<h2 class="item__heading">Medium-Length Name</h2>
					<div class="item__reason">
						<div class="item__attributes">
							<div class="item__attributes-col">
								<h3 class="attr-heading">Size</h3>
								<div class="item__attributes-group">
									<div class="radio-box radio-box--ship">
										<input type="radio" name="size1" id="size1Small">
										<label for="size1Small">too small</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="size1" id="size1Right" checked>
										<label for="size1Right">just right</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="size1" id="size1Big">
										<label for="size1Big">too big</label>
									</div>
								</div>
							</div>
							<div class="item__attributes-col">
								<h3 class="attr-heading">Style</h3>
								<div class="item__attributes-group">
									<div class="radio-box radio-box--ship">
										<input type="radio" name="style1" id="style1Love" checked>
										<label for="style1Love">love it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="style1" id="style1Like">
										<label for="style1Like">like it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="style1" id="style1Ok">
										<label for="style1Ok">just ok</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="style1" id="style1Hate">
										<label for="style1Hate">hate it</label>
									</div>
								</div>
							</div>
							<div class="item__attributes-col">
								<h3 class="attr-heading">Price</h3>
								<div class="item__attributes-group">
									<div class="radio-box radio-box--ship">
										<input type="radio" name="price1" id="price1Low">
										<label for="price1Low">too low</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="price1" id="price1Right" checked>
										<label for="price1Right">just right</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="price1" id="price1Hight">
										<label for="price1Hight">too high</label>
									</div>
								</div>
							</div>
							<div class="item__attributes-col">
								<h3 class="attr-heading">Fit/Cut</h3>
								<div class="item__attributes-group">
									<div class="radio-box radio-box--ship">
										<input type="radio" name="fit1" id="fit1Love" checked>
										<label for="fit1Love">love it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="fit1" id="fit1Like">
										<label for="fit1Like">like it</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="fit1" id="fit1Ok">
										<label for="fit1Ok">just ok</label>
									</div>
									<div class="radio-box radio-box--ship">
										<input type="radio" name="fit1" id="fit1Hate">
										<label for="fit1Hate">hate it</label>
									</div>
								</div>
							</div>
						</div>
						<textarea class="item__comment rounded" placeholder="Comments?"></textarea>
					</div>
					<div class="item__footer">
						<div class="item__price">$68</div>
						<div class="item__actions keep-radios">
							<div class="radio-box radio-box--button">
								<input type="radio" name="keep2" id="keep2" checked value="keep">
								<label for="keep2">Keep</label>
							</div>
							<div class="radio-box radio-box--button">
								<input type="radio" name="keep2" id="return2" value="return">
								<label for="return2">Return</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cart__total">
			<div class="cart__total-col fees-col">
				<div class="fees">
					<div class="fee">Discount Field:
						<span class="fee-cost">$04.8</span>
					</div>
					<div class="fee">Styling Fee:
						<span class="fee-cost">$256.0</span>
					</div>
				</div>
				<div class="promo">
					<input type="text" class="rounded" id="promoCode" placeholder="Add promocode">
					<a href="#" class="btn--theme--inverse">Apply</a>
				</div>
				<br>
				<a href="#" id="applyCredit" class="btn--theme--inverse">Apply Credit</a>
				<br>
			</div>
			<div class="cart__total-col">
				<div class="total-sum">
					<span class="total-title">Subtotal:</span>
					<span class="total-cost">$252.0</span>
				</div>
				<div class="total-sum">
					<span class="total-title">Total:</span>
					<span class="total-cost">$204.0</span>
				</div>
			</div>
		</div>
		<div class="cart__action">
			<button type="submit" class="btn btn--theme">Complete Checkout</button>
		</div>
	</form>
</div>