
    <div class="container">
            @@include('src/modules/steps/steps.html', {
                "steps":[
                    {
                        "class":"complete",
                        "name":"Pick"
                    },
                    {
                        "class":"active",
                        "name":"Style"
                    },
                    {
                        "class":"",
                        "name":"Shop"
                    },
                    {
                        "class":"",
                        "name":"Checkout"
                    }
                ]
            })
        <form action="" class="style-complects">
            <div class="style-complects__info center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                </p>
            </div>
            <div class="style-complects__complect">
                <div class="total">
                    <h2 class="complect__heading">Style Complect #1</h2>
                    <div class="complect__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </div>
                    <div class="complect__items">
                            <img src="./media/img/looks/look1/look1.png" alt="">
                    </div>
                    <div class="total__footer">
                        <div class="total__price">$194</div>
                        <div class="total__action">
                                <div class="item__check check-box--ship">
                                    <input type="checkbox" id="complect1">
                                    <label for="complect1">ship it</label>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <h2 class="complect__heading">Style Details</h2>
                    <div class="complect__items">
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look1/bag.png" alt="">
                            </a>
                            <a href="#productPop" class="item__title js-popup ">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check check-box--ship">
                                <input type="checkbox" id="item1">
                                <label for="item1">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look1/shoe.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item2">
                                <label for="item2">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look1/jacket.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item3">
                                <label for="item3">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look1/pants.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check check-box--ship">
                                <input type="checkbox" id="item4">
                                <label for="item4">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look1/blouse.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item5">
                                <label for="item5">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                    </div>
                    <div class="details__footer">
                        <div class="details__price">$268</div>
                    </div>
                </div>
            </div>
            <div class="style-complects__complect">
                <div class="total">
                    <h2 class="complect__heading">Style Complect #2</h2>
                    <div class="complect__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </div>
                    <div class="complect__items">
                            <img src="./media/img/looks/look2/look2.png" alt="">
                    </div>
                    <div class="total__footer">
                        <div class="total__price">$194</div>
                        <div class="total__action">
                                <div class="item__check check-box--ship">
                                    <input type="checkbox" id="complect2">
                                    <label for="complect2">ship it</label>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <h2 class="complect__heading">Style Details</h2>
                    <div class="complect__items">
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look2/earrings.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check check-box--ship">
                                <input type="checkbox" id="item21">
                                <label for="item21">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look2/bijouterie.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item22">
                                <label for="item22">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look2/bracelet.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item23">
                                <label for="item23">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look2/skirt.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check check-box--ship">
                                <input type="checkbox" id="item24">
                                <label for="item24">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                        <div class="item">
                            <a href="#productPop" class="js-popup item__image">
                                <img src="./media/img/looks/look2/shoes.png" alt="">
                            </a>
                            <a href="#productPop" class="js-popup item__title">Simple  Product Name</a>
                            <div class="item__price">$68.0</div>
                            <div class="item__check  check-box--ship">
                                <input type="checkbox" id="item25">
                                <label for="item25">ship it</label>
                            </div>
                        </div>
                        @@include('src/modules/outfit/product-popup.html')
                    </div>
                    <div class="details__footer">
                        <div class="details__price">$268</div>
                    </div>
                </div>
            </div>
            <div class="style-complects__action">
                <a type="submit" class="btn btn--theme js-popup" href="#cancelPop">Cancel Session</a>
            </div>
        </form>
    </div>

    @@include('src/modules/outfit/cancel-popup.html')