<div class="popup" id="productPop" data-close="popup">

    <div class="cart__items">
        <div class="item item--popup">
            <div class="item__image">
                <img src="./media/img/looks/look1/shoe.png" alt="">
            </div>
            <div class="item__details">
                <h2 class="item__heading">Medium-Length Name</h2>
                <h3 class="item__manufacturer">Manufacturer</h3>
                <h3 class="item__size">Size: <span class="value">38</span></h3>
                <h3 class="item__color">Color: <span class="value">Brown</span></h3>
                <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </div>
                <div class="item__footer item__footer--left">
                    <div class="item__price">$68</div>
                    <div class="item__actions">
                        <a href="#" class="btn--theme">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>