<div class="info-block request-styling">
        <h2 class="info-block__heading no-line no l">
                Request For Styling
        </h2>
        <div class="info-block__content">
                <p class="center">Text about what next. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua minim veniam, quis nostrud exercitation ullamco</p>
                <br>
                <h3>
                        <a href="#">Click here</a> to skip preview option and receive a box with 5 pieces</h3>
                <form action="" class="get-styled" data-next-step="style_waiting.html">
                        <div class="input-box">
                                <textarea name="" id="" class="rounded" placeholder="Styling request text" style="min-height: 170px; resize: none;" required></textarea>
                        </div>
                        <div class="info-block__action">
                                <button type="submit" class="btn--theme" onclick="validate(this)">Get Styled</button>
                        </div>
                </form>
        </div>
</div>