
<div class="container">
			@@include('src/modules/steps/steps.html', {
					"steps":[
							{
									"class":"complete",
									"name":"Pick"
							},
							{
									"class":"complete",
									"name":"Style"
							},
							{
									"class":"active",
									"name":"Shop"
							},
							{
									"class":"",
									"name":"Checkout"
							}
					]
			})

<br><br>

			<h1 class="page-title center">Select Option</h1>
			<p class="sub-title center">Now that you liked what we sent, Would you like to subscribe to receiving your Fashom box?</p>
			<div class="subscription-options">
					<a class="js-popup subscription-options__option" href="#subscriptionPop" data-bg="./media/img/options/1.jpg">
						<div class="option-content center">
							<h2 class="option-title">Subscription option #1</h2>
							<div class="option-desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							</div>
						</div>
					</a>
					<a class="js-popup subscription-options__option" href="#subscriptionPop" data-bg="./media/img/options/2.jpg">
						<div class="option-content center">
							<h2 class="option-title">Subscription option #1</h2>
							<div class="option-desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							</div>
						</div>
					</a>
					<a class="js-popup subscription-options__option" href="#subscriptionPop" data-bg="./media/img/options/3.jpg">
						<div class="option-content center">
							<h2 class="option-title">Subscription option #1</h2>
							<div class="option-desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							</div>
						</div>
					</a>
			</div>
</div>

@@include('src/modules/outfit/subscription-popup.html')