<div class="info-block request-styling">
        <h2 class="info-block__heading l">
                Shipment Waiting
        </h2>
        <div class="info-block__content">
                <p class="center">Your shipment is being processed.. <br> tracking info</p>
        </div>
</div>