<div class="info-block request-styling">
        <h2 class="info-block__heading no-line l">
                Style Waiting
        </h2>
        <div class="info-block__content">
                <p class="center">Your styling is working on your request please check back in ... hours to see your oufits here. You'll be able to select the pieces you want us to ship to you at no cost. <br>
                        You pay for what you keep.</p>
        </div>
</div>