<div class="popup" id="subscriptionPop" data-close="popup">

	<h2 class="popup__heading">Thank you!</h2>
	<div class="popup__content">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
	</div>
	<div class="popup__action center">
		<button class="btn js-popup-close btn--theme" style="width: 200px; margin: auto;" >Ok</button>
	</div>
</div>