<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="./">
                    <img src="./media/img/logo.png" alt="">
                </a>
            </div>
            <ul id="nav" class="header__nav-site">
                @@if(context.my_style === "true"){
                <li>
                    <a href="#">My Style</a>
                </li>
                } @@if(context.how_it_works === "true"){
                <li>
                    <a href="/questions_start.html">How It Works</a>
                </li>
                }
            </ul>
            <ul id="acc" class="header__nav-acc">
                @@if(context.login === "true"){
                <li>
                        <a class="btn login-btn js-popup" href="#signUpPop">Sign Up</a>
                </li>
                } @@if(context.signup === "true"){
                <li>
                        <a class="btn login-btn" href="static_login.html">Log In</a>
                </li>
                } @@if(context.acc === "true"){
                <li class="dropdown">
                    <a href="#accNav" class="js-dropdown">Name Surname</a>
                    <ul id="accNav" class="js-dropdown-cont">
                        <li><a href="./preferences.html">Preferences</a></li>
                        <li><a href="./profile.html">Profile Settings</a></li>
                        <li><a href="./history.html">History</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
                }
            </ul>
        </nav>
    </div>
</header>