<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <div class="footer__nav-col footer__nav-col--wide">
                <h4 style="color:#7e949b">FOLLOW US</h4>
                <div class="social-links">
                    <a href="https://www.instagram.com/myfashom/" target="_blank" class=""><svg><use xlink:href="#insta"/></svg></a>
                    <a href="https://www.facebook.com/Fashom/" target="_blank" class=""><svg><use xlink:href="#fb"/></svg></a>
                    <a href="https://twitter.com/MyFashom" target="_blank" class=""><svg><use xlink:href="#tw"/></svg></a>
                    <a href="https://www.youtube.com/c/Fashom" target="_blank" class=""><svg><use xlink:href="#yt"/></svg></a>
                </div>
            </div>
            <div class="footer__nav-col">
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="footer__nav-col">
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="static_terms-conds.html">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="static_privacy_policy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="footer__nav-col footer__nav-col--wide">
                <h4>We Have Mobile App</h4>
                <div class="app-links">
                    <a href="#">
                        <svg><use xlink:href="#appstore"/></svg>
                    </a>
                    <a href="#">
                        <svg><use xlink:href="#playmarket"/></svg>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__logo">
                <img src="./media/img/logo_light.png" alt="">
            </div>
            <small>&copy; Copyright 2016 Withom LLC</small>
        </div>
    </div>
</footer>