<div class="container">
    <div class="home__title">Style. Share. Love.</div>
    <span class="home__separator"></span>
    <div class="home__sub__title">get personally styled outfits delivered to your doorstep</div>
    <br>
    <br>
    <div class="board__actions">
        <a href="#signUpPop" class="btn js-popup">LET'S GET STARTED</a>
    </div>
</div>