
        <div class="popup gutter" id="loginPop" data-close="popup">
                <div class="popup__content">
                    <div class="request-styling main__form__container">
                            <form class="profile login_form">
                                <div class="form-block">
                                    <div class="input-group prefix">
                                        <i class="icon"><img src="./media/img/login/LogIn_name_icon.png" alt=""></i>
                                        <div class="input-box">
                                            <input type="text" required>
                                            <label for="">Your name or E-mail</label>
                                        </div>
                    
                                    </div>
                    
                                    <div class="input-group prefix">
                                        <i class="icon"><img src="./media/img/login/LogInpassword_icon.png" alt=""></i>
                                        <div class="input-box">
                                            <input type="password" required>
                                            <label for="">Password</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="login__container">
                                    <button type="submit" class="btn btn--theme" onclick="validate(this)">Log In</button>
                                </div>
                                <h2 class="separator"><span>Or</span></h2>
                                <a href="#" class="btn social-btn"><i><img src="./media/img/login/logIn_fb_icon.png" alt=""></i><span style="color:#6138c2;">Log In Using Facebook</span></a>
                            </form>
                            <div class="login__actions">
                                <a href="static_forgotpassword.html">Forgot password</a>
                                <a href="static_login.html">Create a new account</a>
                            </div>
                    </div>
                </div>
            </div>