<div class="popup narrow" id="signUpPop" data-close="popup">
	<h2 class="popup__heading popup__heading--no-line">Sign Up</h2>
	<div class="popup__content">
		<div class="main__form__container">
			<form class="profile login_form">
				<div class="form-block">
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogIn_name_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="text" required>
							<label for="">Your Name</label>
						</div>
					</div>
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogIn_name_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="text" required>
							<label for="">E-mail Address</label>
						</div>
					</div>
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogInpassword_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="password" required>
							<label for="">Password</label>
						</div>
					</div>
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogIn_name_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="text" required>
							<label for="">E-mail Address</label>
						</div>
					</div>
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogInpassword_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="password" required>
							<label for="">Password</label>
						</div>
					</div>
					<div class="input-group prefix">
						<i class="icon">
							<img src="./media/img/login/LogInpassword_icon.png" alt="">
						</i>
						<div class="input-box">
							<input type="password" required>
							<label for="">Confirm Password</label>
						</div>
					</div>
				</div>
				<div class="login__container">
					<button type="submit" class="btn btn--theme" onclick="validate(this)">Sign Up</button>
				</div>
				<h2 class="separator">
					<span>Or</span>
				</h2>
				<a href="#" class="btn social-btn">
					<i>
						<img src="./media/img/login/logIn_fb_icon.png" alt="">
					</i>
					<span style="color:#6138c2;">Sign Up With Facebook</span>
				</a>
			</form>
			<div class="container login__actions">
				<a href="static_login.html" style="text-align: center;float: none;display: block;">Already have an account? Log in.</a>
			</div>
		</div>
	</div>
</div>